<div
  class="row g-0 flex-nowrap me-0 me-md-5 justify-content-md-start justify-content-center"
>
  <div class="col-11 mb-5">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <div class="d-flex align-items-center">
        <img
          src="assets/images/book-open.png"
          alt="dashboard"
          class="me-2 img-success"
        />
        <p class="mb-0 opacity-50">News</p>
      </div>
    </div>
    <h6>Latest News</h6>

    <news-container
      *ngIf="newsService.news.length > 0"
      [news]="newsService.news"
      [ngStyle]="{ width: 'auto', 'margin-inline': '0' }"
      [contentStyle]="{ width: '100%' }"
      [baseLink]="'/portal/news'"
    ></news-container>
    <pagination
      *ngIf="newsService.news.length > 0"
      [pagination]="newsService.pagination"
      (pageChanged)="
        newsService.pagination.current_page = $event; newsService.getNews()
      "
    ></pagination>
    <div
      *ngIf="newsService.news.length == 0"
      style="height: 30em; width: 100%"
      class="d-flex justify-content-center align-items-center"
    >
      <no-data message="Nothing to see here"></no-data>
    </div>
  </div>
</div>
