<div class="socials">
  <div class="col-12 text-center">
    <a href="https://www.facebook.com/profile.php?id=61551722391905" class="text-decoration-none">
      <img src="assets/images/facebook.png" alt="facebook" />
    </a>
  </div>
  <div class="col-12 text-center">
    <a href="https://twitter.com/MarkupA93699?t=KJ1Xv0x3_8KSe596bGw6eQ&s=09" class="text-decoration-none">
      <img src="assets/images/twitter.png" alt="twitter" />
    </a>
  </div>
  <div class="col-12 text-center">
    <a href="#" class="text-decoration-none">
      <img src="assets/images/instagram.png" alt="instagram" />
    </a>
  </div>
  <!-- <div class="col-12 text-center">
    <a href="#" class="text-decoration-none">
      <img src="assets/images/youtube.png" alt="youtube" />
    </a>
  </div> -->
</div>
