.socials {
  background: var(--primary-lighter);
  position: absolute;
  top: 50%;
  right: 0;
  width: 7.8125rem;
  height: 26.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.socials img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

@media screen and (max-width: 48em) {
  .socials {
    background: var(--primary-lighter);
    position: absolute;
    top: 50%;
    right: 0;
    width: 3rem;
    height: 10.0625rem;
    gap: 0.5rem;
  }

  .socials img {
    width: 1.1495rem;
    height: 1.1495rem;
    object-fit: contain;
  }
}
