<div class="container-fluid min-vh-100 row g-0">
  <div class="col-7 position-relative">
    <img
      src="assets/images/bf324554c32ba7facadb86dc8c43729a.jpeg"
      alt="Basketball Stuff"
    />
    <div class="left-section">
      <div class="d-flex align-items-center gap-3 mb-5">
        <img src="assets/images/logo.png" alt="logo" class="logo" />
        <p class="mb-0">Markup Athletics</p>
      </div>

      <h1 class="mb-3">Get connected!</h1>
      <p class="mb-0">
        Connect with established sports personalities who serve as mentors,
        providing guidance and support.
      </p>
    </div>
  </div>
  <div class="col-5 right-section">
    <div class="row g-0">
      <div class="col-12 text-end">
        <button class="closeButton" (click)="globals.goBack()">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
