<div class="row g-0 p-4 mx-3 header d-flex d-md-none">
  <div class="col d-flex justify-content-center align-items-center">
    <div class="d-flex align-items-center gap-3 pointer" routerLink="/">
      <img src="assets/images/logo.png" alt="logo" class="logo" />
      <p class="mb-0">Markup Athletics</p>
    </div>
  </div>
  <div class="col-1">
    <button class="closeButton" (click)="globals.goBack()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>
<div class="container-fluid min-vh-100 row g-0">
  <div class="col-7 position-relative d-none d-md-block">
    <img
      src="assets/images/bf324554c32ba7facadb86dc8c43729a.jpeg"
      alt="Basketball Stuff"
    />
    <div class="left-section">
      <div class="d-flex align-items-center gap-3 mb-5">
        <img src="assets/images/logo.png" alt="logo" class="logo" />
        <p class="mb-0">Markup Athletics</p>
      </div>

      <h1 class="mb-3">Get connected!</h1>
      <p class="mb-0">
        Connect with established sports personalities who serve as mentors,
        providing guidance and support.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-5 right-section">
    <div class="row g-0">
      <div class="col-12 d-flex justify-content-end align-items-center">
        <button
          class="closeButton d-none d-md-block"
          (click)="globals.goBack()"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
