<div class="d-flex align-items-center justify-content-between mt-0 mt-md-5 mb-2">
  <p class="mb-2 fw-bold mt-4 title">Video Upload</p>
  <i class="bi bi-x-lg mt-4 pointer" (click)="gotoDashboard()"></i>
</div>
<p class="mb-5 opacity-50">Upload videos for your profile</p>
<p class="mb-5 text-success">
  Upload MP4 file formats and resolutions of 1080p (1920x1080), 720p (1280x720),
  and 4K (3840x2160).
</p>
<form
  class="profile-form"
  [formGroup]="profileDataForm"
  (ngSubmit)="onSubmit()"
>
  <div class="row g-4">
    <div class="col-12">
      <div
        class="position-relative image-upload mb-3"
        id="transcript-container"
      >
        <input
          type="file"
          (change)="dropImage($event)"
          (drop)="dropImage($event)"
          accept=".mp4"
          name="image"
          id="transcript"
        />
        <label for="transcript" class="w-100 mb-0">
          <img src="assets/images/upload.png" alt="image upload" class="mb-3" />
          <p class="mb-0">
            <span class="text-danger">Click to upload</span> or drag and drop
          </p>
        </label>
      </div>
      <div
        class="col-12 col-md-6 py-2 file"
        *ngFor="let file of profileDataForm.value.videos; let i = index"
      >
        <div class="d-flex align-items-start justify-content-between gap-2">
          <div class="d-flex align-items-start">
            <i class="bi bi-file-earmark"></i>
            <div>
              <p class="mb-0 ms-3 opacity-50 filename">
                {{ file.name || "File name" }}
              </p>
              <p class="mb-0 ms-3 opacity-50">
                {{ file.size / 1000 | number }} KB
              </p>
              <div class="d-flex align-items-center gap-3 ms-3">
                <div class="progress">
                  <div
                    class="progress-bar bg-primary"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>100%</span>
              </div>
            </div>
          </div>
          <a
            href="#"
            class="opacity-50 text-white"
            (click)="removeFile($event, i)"
            >Delete</a
          >
        </div>
      </div>
    </div>

    <div class="col-12 text-end" style="margin-top: 15em">
      <button class="btn btn-primary w-50">Save and continue</button>
    </div>
  </div>
</form>
