<div
  class="row g-0 flex-nowrap me-0 me-md-5 justify-content-md-start justify-content-center"
>
  <div class="col-11 mb-5">
    <div class="d-flex align-items-center mb-3">
      <img
        src="assets/images/book-open.png"
        alt="dashboard"
        class="me-2 img-success"
      />
      <p class="mb-0">News</p>
    </div>
    <span class="opacity-50 text-white pointer" routerLink="/admin/news"
      ><
      <a class="pointer text-white"> Go back </a>
    </span>
    <article-form
      (onSubmit)="onSubmit($event)"
      [article]="newsService.singleNews"
    ></article-form>
  </div>
</div>
