<div class="news-section mt-5" [ngStyle]="ngStyle">
  <div
    class="content"
    *ngFor="let post of news"
    routerLink="{{ baseLink }}/{{ post.slug }}"
    routerLinkActive="active"
  >
    <img [src]="post.imagePath" [alt]="post.id" />
    <h3 class="my-3 mt-4">
      {{ post.title }}
    </h3>
    <div class="d-flex align-items-center gap-2">
      <p class="mb-0" [innerHTML]="post.body"></p>
      <span></span>
      <p class="mb-0 date">
        {{ post.created_at | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </div>
</div>
