<div class="news-section mt-5" [ngStyle]="ngStyle">
  <div
    class="content"
    *ngFor="let post of news"
    [ngClass]="{ 'no-scale': noScaleAnimation }"
  >
    <div class="d-flex align-items-center gap-4">
      <img
        [src]="post.imagePath || 'https://images.placeholders.dev/300x300'"
        [alt]="post.id"
        routerLink="{{ baseLink }}/{{ post.slug }}"
      />
      <div *ngIf="baseLink == '/admin/news/view'">
        <button
          class="roundBtn mb-5"
          routerLink="/admin/news/edit/{{ post.slug }}"
        >
          <img src="assets/images/edit.png" alt="edit" />
        </button>
        <button class="roundBtn" (click)="deleteNews.emit(post.slug)">
          <img src="assets/images/trash-2.png" alt="trash" />
        </button>
      </div>
    </div>
    <div class="tag">
      <p class="mb-0 opacity-100" routerLink="{{ baseLink }}/{{ post.slug }}">
        {{ post.tag | titlecase }}
      </p>
    </div>
    <h3 class="my-3 mt-4" routerLink="{{ baseLink }}/{{ post.slug }}">
      {{ post.title }}
    </h3>
    <div
      class="d-flex align-items-center gap-2"
      routerLink="{{ baseLink }}/{{ post.slug }}"
    >
      <p class="mb-0 date">
        {{ post.created_at | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </div>
</div>
