<form class="col-12" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h2>Create an account</h2>
  <p class="mb-4 opacity-50">
    Enter your details below to create your account.
  </p>
  <div class="form-input mb-3">
    <label for="name" class="form-label">First and last name </label>
    <input
      type="text"
      class="form-control"
      name="fullname"
      formControlName="fullname"
      id="name"
      placeholder="eg. John Doe"
      required
    />
    <small
      class="text-danger"
      *ngIf="fullname.errors?.['required'] && (fullname.dirty || fullname.touched)"
      >Please enter your first and last name</small
    >
  </div>
  <div class="form-input mb-3">
    <label for="institution" class="form-label">Name of institution </label>
    <input
      type="text"
      class="form-control"
      name="institution"
      formControlName="institution"
      id="institution"
      placeholder="eg. Example college"
      required
    />
    <small
      class="text-danger"
      *ngIf="institution.errors?.['required'] && (institution.dirty || institution.touched)"
      >Please enter your institution name</small
    >
  </div>
  <div class="form-input mb-3">
    <label for="email" class="form-label">Institution email address </label>
    <input
      type="text"
      class="form-control"
      name="institution_email"
      formControlName="institution_email"
      id="email"
      placeholder="eg.johndoe@examplecollege.com"
      required
    />
    <small
      class="text-danger"
      *ngIf="institution_email.errors?.['required'] && (institution_email.dirty || institution_email.touched)"
      >Please enter your institution email address</small
    >
  </div>
  <div class="form-input mb-3">
    <label for="name" class="form-label">Select region </label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="region"
      formControlName="region"
      required
    >
      <option selected value="">Select region</option>
      <option value="1">North</option>
      <option value="2">South</option>
      <option value="3">East</option>
      <option value="3">West</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number </label>
    <intl-telephone-input
      [preferredCountries]="[CountryISO.Ghana, CountryISO.UnitedStates]"
      [enablePlaceholder]="true"
      [searchCountryFlag]="true"
      [separateDialCode]="true"
      [enableAutoCountrySelect]="true"
      [searchCountryField]="SearchCountryField.All"
      [phoneValidation]="false"
      [numberFormat]="PhoneNumberFormat.International"
      [inputId]="'phone'"
      formControlName="phone"
      [className]="'form-input-select'"
    >
    </intl-telephone-input>
  </div>
  <button class="btn btn-primary w-100">Next</button>
  <p class="mt-3 mb-0 text-center">
    Already have an account?
    <a
      routerLink="/auth/login"
      class="text-decoration-none text-primary fw-bold"
      >Login</a
    >
  </p>
</form>
