<form class="col-12" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h2>Create an account</h2>
  <p class="mb-4 opacity-50">
    Enter your details below to create your account.
  </p>
  <div class="form-input mb-3">
    <label for="name" class="form-label">First and last name </label>
    <input
      type="text"
      class="form-control"
      name="name"
      formControlName="name"
      id="name"
      placeholder="eg. John Doe"
      required
    />
    <small
      class="text-danger"
      *ngIf="name.errors?.['required'] && (name.dirty || name.touched)"
      >Please enter your first and last name</small
    >
  </div>
  <div class="form-input mb-3">
    <label for="institution" class="form-label">Name of institution </label>
    <input
      type="text"
      class="form-control"
      name="institution_name"
      formControlName="institution_name"
      id="institution"
      placeholder="eg. Example college"
      required
    />
    <small
      class="text-danger"
      *ngIf="institution_name.errors?.['required'] && (institution_name.dirty || institution_name.touched)"
      >Please enter your institution name</small
    >
  </div>
  <div class="form-input mb-3">
    <label for="email" class="form-label">Institution email address </label>
    <input
      type="text"
      class="form-control"
      name="email"
      formControlName="email"
      id="email"
      placeholder="eg.johndoe@examplecollege.com"
      required
    />
    <small
      class="text-danger"
      *ngIf="email.errors?.['required'] && (email.dirty || email.touched)"
      >Please enter your institution email address</small
    >
  </div>
  <div class="form-input mb-3">
    <label for="name" class="form-label">Select Country </label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="country"
      formControlName="country"
      required
    >
      <option selected value="">Select Country</option>
      <option *ngFor="let country of globals.countries" [value]="country">
        {{ country }}
      </option>
    </select>
    <small
      class="text-danger"
      *ngIf="country.errors?.['required'] && (country.dirty || country.touched)"
      >Please select your country</small
    >
  </div>

  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number </label>
    <intl-telephone-input
      [preferredCountries]="[CountryISO.Ghana, CountryISO.UnitedStates]"
      [enablePlaceholder]="true"
      [searchCountryFlag]="true"
      [separateDialCode]="true"
      [enableAutoCountrySelect]="true"
      [searchCountryField]="SearchCountryField.All"
      [phoneValidation]="false"
      [numberFormat]="PhoneNumberFormat.International"
      [inputId]="'phone'"
      (onChange)="onPhoneNumberChange($event)"
      [className]="'form-input-select'"
    >
    </intl-telephone-input>
  </div>
  <button class="btn btn-primary w-100" [disabled]="!signupForm.valid">
    Next
  </button>
  <p class="mt-3 mb-0 text-center">
    Already have an account?
    <a
      routerLink="/auth/login"
      class="text-decoration-none text-primary fw-bold"
      >Login</a
    >
  </p>
</form>
