  <section
    class="general black-container mt-3 row g-0 flex-column-reverse flex-md-row"
  >
    <div class="col-12 col-md-6 p-4">
      <div class="d-flex align-items-center gap-2 gap-md-5 mb-3 flex-wrap">
        <div class="d-flex align-items-center gap-2 description">
          <h4 class="mb-0">Soccer</h4>
          <span></span>
          <p class="mb-0">Defender</p>
        </div>
        <div class="d-flex align-items-center gap-2 description">
          <h4 class="mb-0">Athletics</h4>
          <span></span>
          <p class="mb-0">Track and field</p>
        </div>
      </div>
      <h4 class="mb-0 name">John Doe</h4>
      <div class="row g-0 mt-3 metrics">
        <div class="col-md-4 col-6">
          <p class="mb-1">Height</p>
          <h3 class="mb-1">162 cm</h3>
          <p class="mb-0 fw-400">/ 5.3 ft</p>
        </div>
        <div class="col-md-4 col-6 text-end">
          <p class="mb-1">Weight</p>
          <h3 class="mb-1">138 lb</h3>
          <p class="mb-0 fw-400">/ 62.5 kg</p>
        </div>
      </div>
      <div class="row g-0 mt-5 details">
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Nationality:</p>
          </div>
          <div class="col-6 col-md-4"><p class="mb-0">Ghanaian</p></div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Date of Birth:</p>
          </div>
          <div class="col-6 col-md-4"><p class="mb-0">22/05/1998</p></div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Education level:</p>
          </div>
          <div class="col-6 col-md-4">
            <p class="mb-0">College(University)</p>
          </div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Institution:</p>
          </div>
          <div class="col-6 col-md-4">
            <p class="mb-0">Harmony University</p>
          </div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Email Address:</p>
          </div>
          <div class="col-6 col-md-4">
            <p class="mb-0">Harmony University</p>
          </div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Phone Number:</p>
          </div>
          <div class="col-6 col-md-4"><p class="mb-0">+233 7675473</p></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img
        src="https://images.unsplash.com/photo-1522529599102-193c0d76b5b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        alt="profile"
        class="profile-img"
      />
    </div>
  </section>
  <button class="btn btn-primary w-100 d-block d-md-none">Get connected</button>
  <section class="interests mt-5">
    <h5 class="title ms-4">Interests</h5>
    <div class="d-flex align-items-center flex-wrap gap-3">
      <span class="interest">
        <span class="opacity-50">Sports science</span>
      </span>
      <span class="interest">
        <span class="opacity-50">Sports science</span>
      </span>
      <span class="interest">
        <span class="opacity-50">Sports science</span>
      </span>
    </div>
  </section>
  <section class="education mt-5">
    <h5 class="title ms-4">Educational background</h5>
    <div class="black-container row g-0 p-4 justify-content-between">
      <div class="col-12 col-md-6">
        <div class="col-12 border-bottom py-3 border-white border-opacity-50">
          <p class="mb-0 fw-600">Education</p>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-4">
            <p class="mb-0 opacity-50">Course of study:</p>
          </div>
          <div class="col-4"><p class="mb-0">General Arts</p></div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-4">
            <p class="mb-0 opacity-50">Grade point avarage:</p>
          </div>
          <div class="col-4"><p class="mb-0">3.4</p></div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-4">
            <p class="mb-0 opacity-50">Graduation year</p>
          </div>
          <div class="col-4"><p class="mb-0">2021</p></div>
        </div>
        <div class="col-12 row g-0 py-4">
          <p class="mb-0 fw-600">Academic achievements</p>
        </div>
        <p class="mb-0 achievement">
          I have consistently maintained a high grade point average, earning a
          position on the honor roll and receiving recognition for my academic
          excellence. Balancing the demanding schedule of a student-athlete has
          taught me valuable time management skills, enabling me to excel in
          both my studies and sports.
        </p>
      </div>
      <div class="col-12 col-md-5">
        <p class="mb-0 fw-600 py-3">Extra curricular activities</p>
        <div class="d-flex align-items-center flex-wrap gap-3">
          <span class="activities">
            <span class="opacity-50">Sports science</span>
          </span>
          <span class="activities">
            <span class="opacity-50">Reading</span>
          </span>
          <span class="activities">
            <span class="opacity-50">Art</span>
          </span>
        </div>
        <p
          class="mb-0 fw-600 mt-5 border-bottom border-light border-opacity-25 pb-4"
        >
          Transcript
        </p>
        <div class="row g-0 mt-3">
          <div class="col-12 py-2 file">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <i class="bi bi-file-earmark"></i>
                <p class="mb-0 ms-3 opacity-50">john doe transcript</p>
              </div>
              <a href="#" class="opacity-50 text-white">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="athletics mt-5">
    <h5 class="title ms-4">Athletic background</h5>
    <div
      class="black-container row g-0 p-4 justify-content-between border-bottom border-light border-opacity-25"
    >
      <div class="col-12 col-md-6">
        <div class="col-12 border-bottom py-3 border-white border-opacity-50">
          <p class="mb-0 fw-600 title">Soccer</p>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-4">
            <p class="mb-0 opacity-50">Skill level:</p>
          </div>
          <div class="col-4"><p class="mb-0">Intermediate</p></div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-4">
            <p class="mb-0 opacity-50">Position played:</p>
          </div>
          <div class="col-4"><p class="mb-0">Defender, Striker</p></div>
        </div>
        <div class="col-12 row g-0 py-4">
          <p class="mb-0 fw-600">Stats</p>
        </div>
        <div class="row g-0 pb-5 border-bottom border-light border-opacity-25">
          <div
            class="col-12 position-relative header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
          >
            <p class="mb-0">Pace</p>
            <p class="mb-0 text-success fw-bold">91</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Acceleration</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Sprint Speed</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
        </div>
        <div class="row g-0 pb-5">
          <div
            class="col-12 position-relative header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
          >
            <p class="mb-0">Passing</p>
            <p class="mb-0 text-success fw-bold">91</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Vision</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Crossing</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Accuracy</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Short Passing</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Long Passing</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Curve</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 d-flex align-items-center">
        <div class="row g-0 pb-5">
          <div
            class="col-12 position-relative shooting header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
          >
            <p class="mb-0">Shooting</p>
            <p class="mb-0 text-success fw-bold">91</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Vision</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Crossing</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Accuracy</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Short Passing</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Long Passing</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Curve</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="black-container row g-0 p-4 justify-content-between border-bottom border-light border-opacity-25"
    >
      <div class="col-12 col-md-6">
        <div class="col-12 border-bottom py-3 border-white border-opacity-50">
          <p class="mb-0 fw-600 title">Soccer</p>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-4">
            <p class="mb-0 opacity-50">Skill level:</p>
          </div>
          <div class="col-4"><p class="mb-0">Intermediate</p></div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-4">
            <p class="mb-0 opacity-50">Position played:</p>
          </div>
          <div class="col-4"><p class="mb-0">Defender, Striker</p></div>
        </div>
        <div class="col-12 row g-0 py-4">
          <p class="mb-0 fw-600">Stats</p>
        </div>
        <div class="row g-0 pb-5 border-bottom border-light border-opacity-25">
          <div
            class="col-12 position-relative header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
          >
            <p class="mb-0">Pace</p>
            <p class="mb-0 text-success fw-bold">91</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Acceleration</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Sprint Speed</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
        </div>
        <div class="row g-0 pb-5">
          <div
            class="col-12 position-relative header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
          >
            <p class="mb-0">Passing</p>
            <p class="mb-0 text-success fw-bold">91</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Vision</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Crossing</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Accuracy</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Short Passing</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Long Passing</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Curve</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5 d-flex align-items-center">
        <div class="row g-0 pb-5">
          <div
            class="col-12 position-relative shooting header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
          >
            <p class="mb-0">Shooting</p>
            <p class="mb-0 text-success fw-bold">91</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Vision</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Crossing</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Accuracy</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Short Passing</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
          >
            <p class="mb-0 ms-3">Long Passing</p>
            <p class="mb-0 text-success fw-bold">89</p>
          </div>
          <div
            class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
          >
            <p class="mb-0 ms-3">Curve</p>
            <p class="mb-0 text-success fw-bold">92</p>
          </div>
        </div>
      </div>
    </div>
    <div class="black-container row g-0 p-4 justify-content-between">
      <div class="col-12 col-md-6">
        <div class="col-12 border-bottom py-3 border-white border-opacity-50">
          <p class="mb-0 fw-600">Reference</p>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Name:</p>
          </div>
          <div class="col-6 col-md-4">
            <p class="mb-0">James Halpert</p>
          </div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Email address:</p>
          </div>
          <div class="col-6 col-md-4">
            <p class="mb-0" style="word-break: break-all">
              jameshalpert@dundermifflin.com
            </p>
          </div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Name:</p>
          </div>
          <div class="col-6 col-md-4"><p class="mb-0">John Doe</p></div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Email address:</p>
          </div>
          <div class="col-6 col-md-4">
            <p class="mb-0">johndoe@gmail.com</p>
          </div>
        </div>
        <div class="col-12 row g-0 py-4">
          <p class="mb-0 fw-600">Academic achievements</p>
        </div>
        <p class="mb-0 achievement">
          I have consistently maintained a high grade point average, earning a
          position on the honor roll and receiving recognition for my academic
          excellence. Balancing the demanding schedule of a student-athlete has
          taught me valuable time management skills, enabling me to excel in
          both my studies and sports.
        </p>
      </div>
      <div class="col-12 col-md-5">
        <p
          class="mb-0 fw-600 mt-3 border-bottom border-light border-opacity-25 pb-3"
        >
          Recommendations letters
        </p>
        <div class="row g-0 mt-3">
          <div class="col-12 py-2 file">
            <div class="d-flex align-items-center justify-content-between">
              <div class="d-flex align-items-center">
                <i class="bi bi-file-earmark"></i>
                <p class="mb-0 ms-3 opacity-50">john doe transcript</p>
              </div>
              <a href="#" class="opacity-50 text-white">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="images mt-5">
    <h5 class="title ms-4">Images</h5>
    <div
      class="black-container p-4 row g-3 mt-0 justify-content-center justify-content-md-start"
    >
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
        </a>
      </div>
    </div>
  </section>
  <section class="images mt-5">
    <h5 class="title ms-4">Videos</h5>
    <div
      class="black-container p-4 row g-3 mt-0 justify-content-center justify-content-md-start"
    >
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image position-relative">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
          <img
            src="assets/images/play.png"
            alt="play"
            class="play"
            width="80px"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image position-relative">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
          <img
            src="assets/images/play.png"
            alt="play"
            class="play"
            width="80px"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image position-relative">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
          <img
            src="assets/images/play.png"
            alt="play"
            class="play"
            width="80px"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image position-relative">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
          <img
            src="assets/images/play.png"
            alt="play"
            class="play"
            width="80px"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image position-relative">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
          <img
            src="assets/images/play.png"
            alt="play"
            class="play"
            width="80px"
          />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center text-md-start">
        <a href="#" class="text-decoration-none image position-relative">
          <img
            src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
            alt="image"
          />
          <img
            src="assets/images/play.png"
            alt="play"
            class="play"
            width="80px"
          />
        </a>
      </div>
    </div>
  </section>