<section
  class="general black-container mt-3 row g-0 flex-column-reverse flex-md-row"
>
  <div class="col-12 col-md-6 p-4">
    <div class="d-flex align-items-center gap-2 gap-md-5 mb-3 flex-wrap">
      <div
        class="d-flex align-items-center gap-2 description"
        *ngFor="let athletic of student?.athletic_backgrounds?.sports"
      >
        <h4 class="mb-0">{{ athletic }}</h4>
        <span
          *ngIf="
            getField(
              athletic,
              student?.athletic_backgrounds?.skills,
              'position_played'
            )?.position_name
          "
        ></span>
        <p class="mb-0">
          {{
            getField(
              athletic,
              student?.athletic_backgrounds?.skills,
              "position_played"
            )?.position_name
          }}
        </p>
      </div>
    </div>
    <h4 class="mb-0 name">{{ student?.name }}</h4>
    <div class="row g-0 mt-3 metrics">
      <div class="col-md-4 col-6">
        <p class="mb-1">Height</p>
        <h3 class="mb-1">{{ student?.students?.height + " cm" }}</h3>
        <p class="mb-0 fw-400">/ 5.3 ft</p>
      </div>
      <div class="col-md-4 col-6 text-end">
        <p class="mb-1">Weight</p>
        <h3 class="mb-1">{{ student?.students?.weight + " lb" }}</h3>
        <p class="mb-0 fw-400">/ 62.5 kg</p>
      </div>
    </div>
    <div class="row g-0 mt-5 details">
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-6 col-md-4">
          <p class="mb-0 opacity-50">Nationality:</p>
        </div>
        <div class="col-6 col-md-4">
          <p class="mb-0">{{ student?.students?.nationality }}</p>
        </div>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-6 col-md-4">
          <p class="mb-0 opacity-50">Date of Birth:</p>
        </div>
        <div class="col-6 col-md-4">
          <p class="mb-0">{{ student?.students?.date_of_birth }}</p>
        </div>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-6 col-md-4">
          <p class="mb-0 opacity-50">Education level:</p>
        </div>
        <div class="col-6 col-md-4">
          <p class="mb-0">{{ student?.students?.educational_level }}</p>
        </div>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-6 col-md-4">
          <p class="mb-0 opacity-50">Institution:</p>
        </div>
        <div class="col-6 col-md-4">
          <p class="mb-0">{{ student?.institution_name }}</p>
        </div>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-6 col-md-4">
          <p class="mb-0 opacity-50">Email Address:</p>
        </div>
        <div class="col-6 col-md-4">
          <p class="mb-0">{{ student?.email }}</p>
        </div>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-6 col-md-4">
          <p class="mb-0 opacity-50">Phone Number:</p>
        </div>
        <div class="col-6 col-md-4">
          <p class="mb-0">
            {{ student?.phone }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <img
      [src]="student?.students?.profile_picture"
      alt="profile"
      class="profile-img"
    />
  </div>
</section>
<button class="btn btn-primary w-100 d-block d-md-none">Get connected</button>
<section class="interests mt-5">
  <h5 class="title ms-4">Interests</h5>
  <div class="d-flex align-items-center flex-wrap gap-3">
    <span
      class="interest"
      *ngFor="let interest of student?.students?.interests"
    >
      <span class="opacity-50">{{ interest }}</span>
    </span>
  </div>
</section>
<section class="education mt-5">
  <h5 class="title ms-4">Educational background</h5>
  <div class="black-container row g-0 p-4 justify-content-between">
    <div class="col-12 col-md-6">
      <div class="col-12 border-bottom py-3 border-white border-opacity-50">
        <p class="mb-0 fw-600">Education</p>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-4">
          <p class="mb-0 opacity-50">Course of study:</p>
        </div>
        <div class="col-4">
          <p class="mb-0">
            {{ student?.educational_backgrounds?.course_of_study }}
          </p>
        </div>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-4">
          <p class="mb-0 opacity-50">Grade point avarage:</p>
        </div>
        <div class="col-4">
          <p class="mb-0">{{ student?.educational_backgrounds?.gpa }}</p>
        </div>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-4">
          <p class="mb-0 opacity-50">Graduation year</p>
        </div>
        <div class="col-4">
          <p class="mb-0">
            {{ student?.educational_backgrounds?.graduation_year }}
          </p>
        </div>
      </div>
      <div class="col-12 row g-0 py-4">
        <p class="mb-0 fw-600">Academic achievements</p>
      </div>
      <p class="mb-0 achievement">
        {{
          student?.educational_backgrounds?.academic_achievement ||
            "No academic achievements"
        }}
      </p>
    </div>
    <div class="col-12 col-md-5">
      <p class="mb-0 fw-600 py-3">Extra curricular activities</p>
      <div class="d-flex align-items-center flex-wrap gap-3">
        <span
          class="activities"
          *ngFor="
            let activity of student?.educational_backgrounds
              ?.extra_curricular_activities
          "
        >
          <span class="opacity-50">{{ activity }}</span>
        </span>
      </div>
      <p
        class="mb-0 fw-600 mt-5 border-bottom border-light border-opacity-25 pb-4"
      >
        Transcript
      </p>
      <div class="row g-0 mt-3">
        <div
          class="col-12 py-2 file"
          *ngIf="student?.educational_backgrounds?.transcript_path"
        >
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <i class="bi bi-file-earmark"></i>
              <p class="mb-0 ms-3 opacity-50">john doe transcript</p>
            </div>
            <a href="#" class="opacity-50 text-white">View</a>
          </div>
        </div>
        <p
          class="mb-0 opacity-50"
          *ngIf="!student?.educational_backgrounds?.transcript_path"
        >
          N/A
        </p>
      </div>
    </div>
  </div>
</section>
<section class="athletics mt-5">
  <h5 class="title ms-4">Athletic background</h5>
  <div
    class="black-container row g-0 p-4 justify-content-between border-bottom border-light border-opacity-25"
    *ngFor="let sport of student?.athletic_backgrounds?.sports"
  >
    <div class="col-12 col-md-6">
      <div class="col-12 border-bottom py-3 border-white border-opacity-50">
        <p class="mb-0 fw-600 title">{{ sport }}</p>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-4">
          <p class="mb-0 opacity-50">Skill level:</p>
        </div>
        <div class="col-4">
          <p class="mb-0">
            {{
              getField(
                sport,
                student?.athletic_backgrounds?.skills,
                "skill_level"
              )
            }}
          </p>
        </div>
      </div>
      <div
        class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
      >
        <div class="col-4">
          <p class="mb-0 opacity-50">Position played:</p>
        </div>
        <div class="col-4">
          <p class="mb-0">
            {{
              getField(
                sport,
                student?.athletic_backgrounds?.skills,
                "position_played"
              )?.position_name || "N/A"
            }}
          </p>
        </div>
      </div>
      <div class="col-12 row g-0 py-4">
        <p class="mb-0 fw-600">Stats</p>
      </div>
      <div class="row g-0 pb-5 border-bottom border-light border-opacity-25">
        <div
          class="col-12 position-relative header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
        >
          <p class="mb-0">Pace</p>
          <p class="mb-0 text-success fw-bold">91</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
        >
          <p class="mb-0 ms-3">Acceleration</p>
          <p class="mb-0 text-success fw-bold">89</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
        >
          <p class="mb-0 ms-3">Sprint Speed</p>
          <p class="mb-0 text-success fw-bold">92</p>
        </div>
      </div>
      <div class="row g-0 pb-5">
        <div
          class="col-12 position-relative header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
        >
          <p class="mb-0">Passing</p>
          <p class="mb-0 text-success fw-bold">91</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
        >
          <p class="mb-0 ms-3">Vision</p>
          <p class="mb-0 text-success fw-bold">89</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
        >
          <p class="mb-0 ms-3">Crossing</p>
          <p class="mb-0 text-success fw-bold">92</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
        >
          <p class="mb-0 ms-3">Accuracy</p>
          <p class="mb-0 text-success fw-bold">89</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
        >
          <p class="mb-0 ms-3">Short Passing</p>
          <p class="mb-0 text-success fw-bold">92</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
        >
          <p class="mb-0 ms-3">Long Passing</p>
          <p class="mb-0 text-success fw-bold">89</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
        >
          <p class="mb-0 ms-3">Curve</p>
          <p class="mb-0 text-success fw-bold">92</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 d-flex align-items-center">
      <div class="row g-0 pb-5">
        <div
          class="col-12 position-relative shooting header d-flex justify-content-between align-items-center ps-0 py-2 px-3 border-3 border-bottom border-light border-opacity-25"
        >
          <p class="mb-0">Shooting</p>
          <p class="mb-0 text-success fw-bold">91</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
        >
          <p class="mb-0 ms-3">Vision</p>
          <p class="mb-0 text-success fw-bold">89</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
        >
          <p class="mb-0 ms-3">Crossing</p>
          <p class="mb-0 text-success fw-bold">92</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
        >
          <p class="mb-0 ms-3">Accuracy</p>
          <p class="mb-0 text-success fw-bold">89</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
        >
          <p class="mb-0 ms-3">Short Passing</p>
          <p class="mb-0 text-success fw-bold">92</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-grey"
        >
          <p class="mb-0 ms-3">Long Passing</p>
          <p class="mb-0 text-success fw-bold">89</p>
        </div>
        <div
          class="col-12 d-flex justify-content-between align-items-center px-3 py-2 bg-slight-dark"
        >
          <p class="mb-0 ms-3">Curve</p>
          <p class="mb-0 text-success fw-bold">92</p>
        </div>
      </div>
    </div>
  </div>
  <div class="black-container row g-0 p-4 justify-content-between">
    <div class="col-12 col-md-6">
      <div class="col-12 border-bottom py-3 border-white border-opacity-50">
        <p class="mb-0 fw-600">Reference</p>
      </div>
      <ng-container
        *ngFor="let reference of student?.athletic_backgrounds?.references"
      >
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Name:</p>
          </div>
          <div class="col-6 col-md-4">
            <p class="mb-0">
              {{ reference?.name }}
            </p>
          </div>
        </div>
        <div
          class="col-12 row g-0 border-top border-bottom py-3 border-white border-opacity-50"
        >
          <div class="col-6 col-md-4">
            <p class="mb-0 opacity-50">Email address:</p>
          </div>
          <div class="col-6 col-md-4">
            <p class="mb-0" style="word-break: break-all">
              {{ reference?.email }}
            </p>
          </div>
        </div>
      </ng-container>
      <div class="col-12 row g-0 py-4">
        <p class="mb-0 fw-600">Academic achievements</p>
      </div>
      <p class="mb-0 achievement">
        {{ student?.athletic_backgrounds?.athletic_achievements || "N/A" }}
      </p>
    </div>
    <div class="col-12 col-md-5">
      <p
        class="mb-0 fw-600 mt-3 border-bottom border-light border-opacity-25 pb-3"
      >
        Recommendations letters
      </p>
      <div class="row g-0 mt-3">
        <div class="col-12 py-2 file">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <i class="bi bi-file-earmark"></i>
              <p class="mb-0 ms-3 opacity-50">john doe transcript</p>
            </div>
            <a href="#" class="opacity-50 text-white">View</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="images mt-5">
  <h5 class="title ms-4">Images</h5>
  <div
    class="black-container p-4 row g-3 mt-0 justify-content-center justify-content-md-start"
  >
    <div
      class="col-12 col-md-3 text-center text-md-start"
      *ngFor="let image of student?.images"
    >
      <img
        [src]="image?.image_path"
        alt="image"
      />
    </div>
  </div>
</section>
<section class="images mt-5">
  <h5 class="title ms-4">Videos</h5>
  <div
    class="black-container p-4 row g-3 mt-0 justify-content-center justify-content-md-start"
  >
    <div class="col-12 col-md-3 text-center text-md-start">
      <a href="#" class="text-decoration-none image position-relative">
        <img
          src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
          alt="image"
        />
        <img
          src="assets/images/play.png"
          alt="play"
          class="play"
          width="80px"
        />
      </a>
    </div>
    <div class="col-12 col-md-3 text-center text-md-start">
      <a href="#" class="text-decoration-none image position-relative">
        <img
          src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
          alt="image"
        />
        <img
          src="assets/images/play.png"
          alt="play"
          class="play"
          width="80px"
        />
      </a>
    </div>
    <div class="col-12 col-md-3 text-center text-md-start">
      <a href="#" class="text-decoration-none image position-relative">
        <img
          src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
          alt="image"
        />
        <img
          src="assets/images/play.png"
          alt="play"
          class="play"
          width="80px"
        />
      </a>
    </div>
    <div class="col-12 col-md-3 text-center text-md-start">
      <a href="#" class="text-decoration-none image position-relative">
        <img
          src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
          alt="image"
        />
        <img
          src="assets/images/play.png"
          alt="play"
          class="play"
          width="80px"
        />
      </a>
    </div>
    <div class="col-12 col-md-3 text-center text-md-start">
      <a href="#" class="text-decoration-none image position-relative">
        <img
          src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
          alt="image"
        />
        <img
          src="assets/images/play.png"
          alt="play"
          class="play"
          width="80px"
        />
      </a>
    </div>
    <div class="col-12 col-md-3 text-center text-md-start">
      <a href="#" class="text-decoration-none image position-relative">
        <img
          src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg"
          alt="image"
        />
        <img
          src="assets/images/play.png"
          alt="play"
          class="play"
          width="80px"
        />
      </a>
    </div>
  </div>
</section>
