<div class="d-flex justify-content-md-start justify-content-center gap-5 flex-wrap my-3">
  <div
    class="image"
    *ngFor="let image of profileDataForm.value.images; let i = index"
  >
    <img src="{{ image.image_url }}" alt="image" />
    <div class="text-center mt-3">
      <a href="#" class="text-white" (click)="removeImage($event, i, image.id)">Delete</a>
    </div>
  </div>
  <div class="add-image d-none d-md-block">
    <label for="image">
      <i class="bi bi-plus-lg"></i>
    </label>
    <input
      type="file"
      name="image"
      id="image"
      class="d-none"
      accept="image/*"
      multiple="false"
      (change)="onInputChange($event)"
    />
  </div>
</div>
