<div class="d-flex align-items-center justify-content-between mt-5 mb-2">
  <p class="mb-2 fw-bold mt-4">Personal Data</p>
  <i class="bi bi-x-lg mt-4 pointer" (click)="goBack()"></i>
</div>
<p class="mb-5 opacity-50">
  Enter the details below to update your personal data.
</p>
<form
  class="profile-form"
  [formGroup]="profileDataForm"
  (ngSubmit)="onSubmit()"
>
  <small class="opacity-50 fw-bold">Profile picture</small>
  <div class="my-3 mb-4">
    <img
      [src]="
        profileDataForm.value.profile_picture ||
        'assets/images/profile-user.png'
      "
      alt="profile"
    />
  </div>
  <label class="btn upload mb-5" type="button" for="img-upload">
    Upload profile image here
  </label>
  <input
    type="file"
    class="d-none"
    id="img-upload"
    (change)="imageUpload($event)"
  />
  <div class="row g-4">
    <div class="col-6">
      <label class="opacity-50 fw-bold" for="nationality"
        >Select Nationality</label
      >
      <button class="select-menu mt-2" (click)="toggleSelectMenu($event)">
        <div class="select-btn">
          <span class="selected-item">
            {{ profileDataForm.value.nationality || "Select Nationality" }}
          </span>
          <i class="bi bi-chevron-down"></i>
        </div>
        <ul class="select-list">
          <li
            class="select-item"
            *ngFor="let nationality of nationalities"
            (click)="selectItem(nationality, 'nationality')"
          >
            {{ nationality }}
          </li>
        </ul>
      </button>
    </div>
    <div class="col-6">
      <label class="opacity-50 fw-bold">Date of birth</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        placeholder="YYYY-MM-DD"
        formControlName="date_of_birth"
      />
      <div
        class="text-danger"
        *ngIf="
          date_of_birth.invalid &&
          (date_of_birth.touched || date_of_birth.dirty)
        "
      >
        <small *ngIf="date_of_birth.errors?.['required']"
          >Date of birth is required</small
        >
        <small *ngIf="date_of_birth.errors?.['pattern']">
          Date of birth is invalid
        </small>
      </div>
    </div>
    <div class="col-6">
      <label class="opacity-50 fw-bold">Height (cm)</label>
      <input
        type="number"
        class="form-control mb-4 mt-2"
        placeholder="eg 162"
        formControlName="height"
      />
      <div
        class="text-danger"
        *ngIf="height.invalid && (height.touched || height.dirty)"
      >
        <small *ngIf="height.errors?.['required']">Height is required</small>
      </div>
    </div>
    <div class="col-6">
      <label class="opacity-50 fw-bold">Weight (lb)</label>
      <input
        type="number"
        class="form-control mb-4 mt-2"
        placeholder="eg.138"
        formControlName="weight"
      />
      <div
        class="text-danger"
        *ngIf="weight.invalid && (weight.touched || weight.dirty)"
      >
        <small *ngIf="weight.errors?.['required']">Weight is required</small>
      </div>
    </div>
    <div class="col-6">
      <label class="opacity-50 fw-bold">Educational Level</label>
      <button class="select-menu mt-2" (click)="toggleSelectMenu($event)">
        <div class="select-btn">
          <span class="selected-item">
            {{ profileDataForm.value.educational_level || "Select Level" }}
          </span>
          <i class="bi bi-chevron-down"></i>
        </div>
        <ul class="select-list">
          <li
            class="select-item"
            *ngFor="let level of educationLevels"
            (click)="selectItem(level, 'educational_level')"
          >
            {{ level }}
          </li>
        </ul>
      </button>
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold">Interests</label>
      <div
        class="select-menu mt-2"
        id="interests"
        (click)="toggleSelectMenu($event, false)"
      >
        <div class="select-btn">
          <span class="selected-item">Select your Interests</span>
          <i class="bi bi-chevron-down"></i>
        </div>
        <ul class="select-list">
          <li
            class="select-item"
            *ngFor="let interest of interests"
            (click)="addInterest(interest)"
            [ngClass]="{
              selected: profileDataForm.value.interests.includes(interest)
            }"
          >
            {{ interest }}
          </li>
        </ul>
      </div>
      <ul class="d-flex align-items-center flex-wrap mt-3 p-0 gap-2">
        <li
          class="me-3 list-unstyled"
          *ngFor="let interest of profileDataForm.value.interests"
        >
          <span class="badge bg-dark p-3 position-relative">
            {{ interest }}
            <img
              src="assets/images/minus-circle.png"
              alt="x"
              class="ms-2 position-absolute pointer"
              style="top: -10px; right: -10px; z-index: 1"
              (click)="removeInterest(interest)"
            />
          </span>
        </li>
      </ul>
    </div>
    <div class="col-12 text-end">
      <button class="btn btn-primary w-50">Save and continue</button>
    </div>
  </div>
</form>
