<form
  class="profile-form"
  [formGroup]="profileDataForm"
  (ngSubmit)="onSubmit()"
>
  <div class="row g-4">
    <div class="col-12 col-md-6">
      <label class="opacity-50 fw-bold">Course of Study</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        placeholder="eg. Computer Science"
      />
    </div>
    <div class="col-12 col-md-6">
      <label class="opacity-50 fw-bold">Grade point average (GPA)</label>
      <input type="text" class="form-control mb-4 mt-2" placeholder="eg. 3.5" />
    </div>
    <div class="col-12 col-md-6">
      <label class="opacity-50 fw-bold">Graduation Year</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        placeholder="eg. 2021"
      />
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold mb-2">Extra curricular activities</label>
      <div
        class="d-flex align-items-center justify-content-between flex-wrap gap-3"
      >
        <div class="radio-input" *ngFor="let activity of activities">
          <input
            type="checkbox"
            name="interests"
            id="{{ activity.toLowerCase() }}"
            (click)="onExtraChange($event)"
            [checked]="
              profileDataForm.value.extra_curricular_activities.includes(
                activities
              )
            "
          />
          <label [for]="activity.toLowerCase()" class="radio-btn"></label>
          <label [for]="activity.toLowerCase()" class="opacity-50 pointer">{{
            activity
          }}</label>
        </div>
      </div>
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold mb-2" for="achievements"
        >Academic achievements</label
      >
      <textarea name="achievements" id="achievements" rows="10"></textarea>
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold"
        >Letters of recommendation (Optional)</label
      >
      <div
        class="position-relative image-upload mb-3"
        id="transcript-container"
      >
        <input
          type="file"
          (change)="dropImage($event)"
          (drop)="dropImage($event)"
          (dragover)="onDragOver($event)"
          name="image"
          id="transcript"
        />
        <label for="transcript" class="w-100 mb-0">
          <img src="assets/images/upload.png" alt="image upload" class="mb-3" />
          <p class="mb-0">
            <span class="text-danger">Click to upload</span> or drag and drop
          </p>
        </label>
      </div>
      <div
        class="col-6 py-2 file"
        *ngFor="let file of profileDataForm.value.transcripts; let i = index"
      >
        <div class="d-flex align-items-start justify-content-between">
          <div class="d-flex align-items-start">
            <i class="bi bi-file-earmark"></i>
            <div>
              <p class="mb-0 ms-3 opacity-50">{{ file.name || "File name" }}</p>
              <p class="mb-0 ms-3 opacity-50">
                {{ file.size / 1000 | number }} KB
              </p>
              <div class="d-flex align-items-center gap-3 ms-3">
                <div class="progress" style="min-width: 300px">
                  <div
                    class="progress-bar bg-primary"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>100%</span>
              </div>
            </div>
          </div>
          <a
            href="#"
            class="opacity-50 text-white"
            (click)="removeFile($event, i)"
            >Delete</a
          >
        </div>
      </div>
    </div>

    <div
      class="col-12 d-flex align-items-center justify-content-end gap-2 my-5 flex-wrap order-sm-reverse"
    >
      <button class="btn btn-secondary" type="button">Cancel</button>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!profileDataForm.valid"
      >
        Upload profile
      </button>
    </div>
  </div>
</form>
