<div class="row g-0 flex-nowrap me-5">
  <div class="col-11 mb-5">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <div class="d-flex align-items-center">
        <img
          src="assets/images/mdi_connection.png"
          alt="dashboard"
          class="me-2 img-success"
        />
        <p class="mb-0 opacity-50">Athletics</p>
      </div>
    </div>
    <div class="catergory-tabs">
      <a
        class="pointer"
        [class.active]="activeTab == cat"
        *ngFor="let cat of categories"
        (click)="activeTab = cat"
        >{{ cat }}</a
      >
      <a href="#">
        <i class="bi bi-search"></i>
      </a>
    </div>

    <div
      class="d-flex align-items-center justify-content-between cat-detail-header mt-5"
    >
      <h5>Featured profiles</h5>
      <a
        class="text-decoration-none text-white"
        (click)="toggleSearchFilter()"
        style="cursor: pointer"
        >Search by
        <i class="bi bi-chevron-down ms-2"></i>
      </a>
    </div>
    <div class="d-flex align-items-center gap-5 category-detail-section">
      <player-card
        [margin_right]="'0px'"
        *ngFor="let player of studentsService.students; let i = index"
        [player]="player"
      ></player-card>
    </div>
    <pagination></pagination>

    <div class="search-filter">
      <div class="search-filter-container">
        <div class="col-12 d-flex align-items-center justify-content-end gap-2">
          <h5>Search by</h5>
          <i
            class="bi bi-x fs-30"
            (click)="toggleSearchFilter()"
            style="cursor: pointer"
          ></i>
        </div>
        <div class="row g-0 filters">
          <div class="col-3">
            <form>
              <div class="col p-3">
                <div class="mb-4">
                  <label for="name" class="form-label">Name</label>
                  <div class="form-input">
                    <input
                      type="text"
                      name=""
                      id="name"
                      placeholder="Search by name"
                      aria-describedby="helpId"
                    />
                    <i class="bi bi-search"></i>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="name" class="form-label">Country</label>
                  <div class="form-input">
                    <input
                      type="text"
                      name=""
                      id="name"
                      placeholder="Select countries"
                      aria-describedby="helpId"
                    />
                    <i class="bi bi-chevron-down"></i>
                  </div>
                </div>
                <div class="mb-3 range-input">
                  <label for="name" class="form-label">Age range</label>
                  <div class="slider-container">
                    <div class="slider-track"></div>
                    <input
                      type="range"
                      min="0"
                      max="100"
                      value="0"
                      id="slider-1"
                      oninput="slideOne()"
                    />
                    <input
                      type="range"
                      min="0"
                      max="100"
                      value="100"
                      id="slider-2"
                      oninput="slideTwo()"
                    />
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <input
                      type="number"
                      value="5"
                      name=""
                      id="range1"
                      placeholder="Select age range"
                      aria-describedby="helpId"
                    />
                    -
                    <input
                      type="number"
                      name=""
                      value="45"
                      id="range2"
                      placeholder="Select age range"
                      aria-describedby="helpId"
                    />
                  </div>
                </div>
                <div class="mb-3 range-input">
                  <label for="name" class="form-label">Height range</label>
                  <div class="slider-container">
                    <div class="slider-track"></div>
                    <input
                      type="range"
                      min="0"
                      max="100"
                      value="0"
                      id="slider-3"
                      oninput="slideThree()"
                    />
                    <input
                      type="range"
                      min="0"
                      max="100"
                      value="100"
                      id="slider-4"
                      #slider4
                    />
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <input
                      type="number"
                      value="5"
                      name=""
                      id="range3"
                      placeholder="Select age range"
                      aria-describedby="helpId"
                    />
                    -
                    <input
                      type="number"
                      name=""
                      [value]="slider4.value"
                      id="range4"
                      placeholder="Select age range"
                      aria-describedby="helpId"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-3">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Gender
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body pt-0">
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Male
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Female
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Other
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Positions
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body pt-0">
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      All positions
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Goal Keepers
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Defender Central Right
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Defender Central left
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Defender Right
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Defender Left
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Midfielder Central
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Winger Left
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Positions
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body pt-0">
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      All positions
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Goal Keepers
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Defender Central Right
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Education Level
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body pt-0">
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      All positions
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Goal Keepers
                    </label>
                    <label class="list-group-item px-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                      />
                      Defender Central Right
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 range-input me-3">
              <label for="name" class="form-label">GPA range</label>
              <div class="slider-container">
                <div class="slider-track"></div>
                <input
                  type="range"
                  min="0"
                  max="100"
                  value="0"
                  id="slider-5"
                  oninput="slideFive()"
                />
                <input
                  type="range"
                  min="0"
                  max="100"
                  value="100"
                  id="slider-6"
                  oninput="slideSix()"
                />
              </div>
              <div class="d-flex align-items-center gap-2">
                <input
                  type="number"
                  value="5"
                  name=""
                  id="range5"
                  placeholder="Select age range"
                  aria-describedby="helpId"
                />
                -
                <input
                  type="number"
                  name=""
                  value="45"
                  id="range6"
                  placeholder="Select age range"
                  aria-describedby="helpId"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
