.col-11 {
  margin-left: 7em;
}
/****************** CATEGORY DETAILS SECTION *******************/
.cat-detail-header {
  width: min(100%, 80rem);
  margin-inline: auto;
}

.cat-detail-header h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 130%; /* 1.95rem */
  letter-spacing: 0.03rem;
}

.catergory-tabs {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 3em;
  width: 29em;
  margin-inline: auto;
  border-bottom: 1px solid #fff;
  padding-bottom: 1em;
}

.catergory-tabs a {
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.catergory-tabs a:hover {
  color: var(--success);
}

.catergory-tabs a.active {
  font-weight: 700;
  color: var(--success);
}

.catergory-tabs a.active::after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 0;
  width: 2.25rem;
  height: 0.3125rem;
  border-radius: 0.3125rem;
  background: var(--success);
}

.category-detail-section {
  width: min(100%, 80rem);
  margin-inline: auto;
  padding-top: 3em;
  flex-wrap: wrap;
  gap: 3rem;
}

.category-detail-section ~ .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.category-detail-section ~ .pagination a {
  color: #fff;
  text-decoration: none;
  border-radius: 0.1875rem;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.category-detail-section ~ .pagination a.active {
  border: 1px solid #c5253c;
}

.category-detail-section ~ .pagination a:hover {
  border: 1px solid #c5253c;
}

.category-detail-section ~ .pagination a:nth-child(1),
.category-detail-section ~ .pagination a:nth-last-child(1) {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background: #c5253c;
}

.category-detail-section ~ .pagination a {
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  background: #1c1c1d;
}

@media screen and (max-width: 768px) {
  .banner-section {
    height: 21rem !important;
  }

  .banner-section:nth-last-of-type(2) {
    height: 7.25rem;
  }

  .banner-section h3 {
    font-size: 2rem;
    letter-spacing: 0.03rem;
  }

  .catergory-tabs {
    width: calc(100vw - 2em);
    overflow-x: scroll;
  }

  .catergory-tabs a {
    white-space: nowrap;
  }

  .catergory-tabs a:nth-child(1) {
    margin-left: 8em;
  }

  .catergory-tabs a:hover {
    color: var(--success);
  }

  .catergory-tabs a.active {
    font-weight: 700;
    color: var(--success);
  }

  .catergory-tabs a.active::after {
    content: "";
    position: absolute;
    bottom: -1em;
    left: 0;
    width: 2.25rem;
    height: 0.3125rem;
    border-radius: 0.3125rem;
    background: var(--success);
  }

  .category-detail-section {
    justify-content: center;
  }

  .category-detail-section .player-card {
    margin-right: 0;
  }
}
