/**************************** NAVBAR ****************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #1a1a1e;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  outline: none;
}

header .logo img {
  width: 40px;
  height: 40px;
}

header .profile-dropdown img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 0.5px solid #ffffff2c;
  padding: 2px;
}

.mini-logo {
  width: 2rem;
  height: 2rem;
}

.notification {
  position: relative;
  z-index: 0;
}

.notification::after {
  content: "";
  position: absolute;
  background: #fbbc05;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  z-index: 1;
  bottom: 0;
  left: 1rem;
}

.notification-menu {
  position: fixed;
  background: #1a1a1e;
  top: 4rem;
  height: 100%;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 100;
  transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
  .notification-menu.active {
    transform: translateY(0%);
  }
}
