<header class="container-fluid p-4 py-3">
  <a class="logo pointer d-none d-md-block" routerLink="/student/dashboard">
    <img src="assets/images/logo.png" alt="logo" />
  </a>
  <div class="profile-dropdown pointer d-none d-md-block">
    <div class="d-flex align-items-center gap-3">
      <img src="assets/images/profile.png" alt="profile" />
      <p class="mb-0">
        {{ globals.user?.name }}
      </p>
      <i class="bi bi-chevron-down ms-3"></i>
    </div>
  </div>
  <a class="pointer d-block d-md-none">
    <img
      src="assets/images/menu.png"
      width="25"
      (click)="openSidebar.emit((sidebarOpened = !sidebarOpened))"
    />
  </a>
  <div
    class="d-flex align-items-center gap-3 pointer d-block d-md-none"
    routerLink="/"
  >
    <img src="assets/images/logo.png" alt="logo" class="mini-logo" />
    <p class="mb-0">Markup Athletics</p>
  </div>
  <a class="notification d-block d-md-none">
    <img src="assets/images/bell.png" width="25" class="bell-icon" />
  </a>
</header>
