<div class="col-12">
  <div class="my-5 mb-3 dark-section p-4 rounded recent-connection">
    <div class="row g-0">
      <div
        class="col-12 col-md border-end border-2 border-opacity-50 border-light"
      >
        <div class="d-flex align-items-start align-items-md-center flex-column flex-md-row gap-md-5 gap-0">
          <div>
            <div class="d-flex align-items-center">
              <img
                src="https://icons.iconarchive.com/icons/wikipedia/flags/512/US-United-States-Flag-icon.png"
                width="30px"
                alt="U.S.A image"
              />
              <p class="mb-0 ms-1 fw-semibold opacity-50">USA</p>
            </div>
            <p class="mb-0 fs-1 fw-semibold">Alex Payne</p>
          </div>
          <p class="opacity-50 mb-0">Soccer . Defender</p>
        </div>
      </div>
      <div class="col-12 col-md-3 border-end border-2 border-opacity-50 border-light">
        <div
          class="d-flex align-items-center gap-3 justify-content-center h-100 p-1 p-md-0"
        >
          <p class="opacity-50 mb-0">Height</p>
          <h4 class="mb-0">162 cm</h4>
          <p class="opacity-50 mb-0">/5.3ft</p>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div
          class="d-flex align-items-center gap-3 justify-content-center h-100 p-1 p-md-0"
        >
          <p class="opacity-50 mb-0">Height</p>
          <h4 class="mb-0">162 cm</h4>
          <p class="opacity-50 mb-0">/5.3ft</p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-items-center justify-content-between">
    <p class="mb-0 opacity-50">3 minutes ago</p>
    <div class="d-flex align-items-center flex-wrap gap-3 justify-content-end">
      <a href="#" class="text-white">Report an issue</a>
      <a href="#" class="text-white">View Profile</a>
    </div>
  </div>
</div>
