.dark-section {
  background: #1a1a1e;
  padding: 2rem 0;
}

.recent-connection {
  h4 {
    color: var(--success);
    font-family: Staatliches;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 3.25rem */
  }
}

@media screen and (max-width: 768px) {
  .col-md.border-end {
    border-right: none !important;
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.5) !important;
  }

  .col-md-3.border-end {
    border-right: none !important;
  }
}
