<div
  class="row g-0 flex-nowrap me-0 me-md-5 justify-content-md-start justify-content-center"
>
  <div class="col-11 mb-5">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <div class="d-flex align-items-center">
        <img
          src="assets/images/rotate-ccw.png"
          alt="dashboard"
          class="me-2 img-success"
        />
        <p class="mb-0">Approvals</p>
      </div>
      <div class="d-flex align-items-center gap-4">
        <div class="search-input">
          <img src="assets/images/search.png" alt="search" width="20px" />
          <input type="text" placeholder="Search here..." />
        </div>
        <button
          class="btn btn-primary"
          style="width: 15em"
          routerLink="/admin/create"
        >
          + New Athlete
        </button>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover align-middle">
        <thead>
          <tr>
            <th></th>
            <th class="text-white opacity-50">Full name</th>
            <th class="text-white opacity-50">Country</th>
            <th class="text-white opacity-50">Phone Number</th>
            <th class="text-white opacity-50">Institution Level</th>
            <th class="text-white opacity-50">Institution</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentsService.students; let i = index">
            <td scope="row">
              <p class="mb-0 text-white opacity-50">
                {{ i + 1 }}
              </p>
            </td>
            <td>
              <div class="d-flex align-item-center">
                <img
                  src="{{
                    student?.institution_id ||
                      'https://ui-avatars.com/api/?name=' +
                        student.name.replace(' ', '+')
                  }}"
                  alt="user"
                />
                <p class="mb-0 ms-3 text-white opacity-50">
                  {{ student.name | titlecase }}
                </p>
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="https://flagcdn.com/{{
                    globals.getCountryCode(student?.country)
                  }}.svg"
                  alt="flag"
                />
                <p class="mb-0 ms-3 text-white opacity-50">
                  {{ student?.country | titlecase }}
                </p>
              </div>
            </td>
            <td>
              <p class="mb-0 text-white opacity-50">{{ student?.phone }}</p>
            </td>
            <td><p class="mb-0 text-white opacity-50">High School</p></td>
            <td>
              <p class="mb-0 text-white opacity-50">
                {{ student.institution_name | titlecase }}
              </p>
            </td>
            <td>
              <a
                href="#"
                class="text-white opacity-50"
                routerLink="/admin/approvals/player/{{ student?.id }}"
                >View Profile</a
              >
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <pagination
      ></pagination>
      <div
        style="height: 30em; width: 100%"
        class="d-flex justify-content-center align-items-center"
      >
        <no-data message="Nothing to see here"></no-data>
      </div> -->
    </div>
  </div>
</div>
