<div
  class="container-fluid min-vh-100 row g-0 justify-content-center align-items-center"
>
  <div class="col-3 confirm-email">
    <div class="d-flex align-items-center gap-3 mb-5 justify-content-center">
      <img src="assets/images/logo.png" alt="logo" class="logo" />
      <p class="mb-0">Markup Athletics</p>
    </div>
    <h4 class="mb-3 fw-bolder text-center">Reset your password</h4>
    <password-form
      [firstInputLabel]="'New password'"
      [secondInputLabel]="'Confirm new password'"
      [submitButtonLabel]="'Reset password'"
      (submitForm)="onSubmit($event)"
    ></password-form>
  </div>
</div>
