<div class="terms-and-conditions">
  <a
    (click)="globals.goBack()"
    class="text-decoration-none opacity-50 text-white"
  >
    <i class="bi bi-chevron-left"></i>
    <span class="text-decoration-underline">Go back</span>
  </a>

  <section class="terms mt-3">
    <h2>Terms And Conditions.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
      cumque temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quas corrupti cumque
      temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
      cumque temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quas corrupti cumque
      temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
      cumque temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quas corrupti cumque
      temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
      cumque temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quas corrupti cumque
      temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat.
    </p>
  </section>
  <section class="mt-5">
    <h2>Privacy Policy.</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
      cumque temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quas corrupti cumque
      temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
      cumque temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quas corrupti cumque
      temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
      cumque temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quas corrupti cumque
      temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corrupti
      cumque temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quas corrupti cumque
      temporibus, ipsa ea, voluptate quo iste a quidem illum nemo et amet
      excepturi. Nesciunt corrupti quos quaerat ratione? Repellat.
    </p>
  </section>
</div>
