<div class="container-fluid row g-0 complete-profile min-vh-100">
  <div class="col-4 left-section px-5">
    <div class="logo mb-5">
      <img src="assets/images/logo.png" alt="logo"/>
    </div>
    <p class="mb-2 fw-bold">Complete your profile</p>
    <p class="mb-5 opacity-50">
      A complete profile allows you to showcase your skills, achievements, and
      potential to a wider audience, including college coaches, recruiters, and
      sports enthusiasts.
    </p>
    <p class="mb-2">{{ progress }}% Profile Set up</p>
    <div class="progress mb-5">
      <div
        class="progress-bar"
        role="progressbar"
        style="background-color: #96fc58; border-radius: 10px"
        [ngStyle]="{ width: progress + '%' }"
        attr.aria-valuenow="{{ progress }}"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>

    <div class="row g-0 gap-4">
      <div class="col-12 row g-0 gap-2" *ngFor="let item of steps">
        <div class="col-1">
          <img
            [src]="
              progress < item.progress
                ? 'assets/images/x-circle.png'
                : 'assets/images/check-circle.png'
            "
            alt="1"
          />
        </div>
        <div class="col">
          <p
            class="mb-2 fw-bold"
            [ngClass]="{
              'opacity-50': progress < item.progress
            }"
          >
            {{ item.name }}
          </p>
          <p class="mb-0 opacity-50">
            {{ item.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 right-section p-5">
    <router-outlet></router-outlet>
  </div>
</div>
