.col-md:first-child {
  margin-left: 7em;
}

.dark-section {
  background: #1a1a1e;
  padding: 2rem 0;
}

.dark-section img[alt="profile"] {
  padding: 1rem;
  background: #26262a;
  border-radius: 50%;
  border: 2px solid var(--success);
}

.dark-section:nth-child(2) .percentage {
  padding: 1rem;
  border-radius: 50%;
  position: relative;
  background: #26262a;
  z-index: 1;
  margin-bottom: 1rem;
}

.dark-section:nth-child(2) .percentage::after {
  content: "";
  position: absolute;
  top: -0.4rem;
  left: -0.3rem;
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  rotate: 220deg;
  background: conic-gradient(var(--success) 20deg, #3a3a3b 0deg);
  z-index: -1;
  transition: all 0.3s ease;
}

.dark-section:nth-child(2) .bar {
  width: 100%;
  height: 0.25rem;
  background: #232327;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.dark-section:nth-child(2) .bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: var(--success);
  border-radius: 0.5rem;
  animation: progress 10s linear forwards;
  transition: all 0.3s ease;
}

@keyframes progress {
  0% {
    width: 5%;
  }
  100% {
    width: 100%;
  }
}

.recent-connection {
  h4 {
    color: var(--success);
    font-family: Staatliches;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 3.25rem */
  }
}

@media screen and (max-width: 768px) {
  .col-md:first-child {
    margin-left: 0;
    padding: 0 1rem;
  }

  .border-end {
    border: none !important;
  }
}
