<div
  class="row g-0 gap-3 flex-nowrap justify-content-center justify-content-md-start"
>
  <div
    class="col-12 col-md"
    [ngClass]="{
      'col-11': globals.user?.user_type == '2'
    }"
  >
    <p
      class="mb-0 d-flex align-items-center"
      *ngIf="globals.user?.user_type != '2'"
    >
      <img
        src="assets/images/grid.png"
        alt="dashboard"
        class="me-2 img-success"
      />
      <span class="opacity-50">Dashboard</span>
    </p>
    <div
      class="my-5 dark-section d-flex align-items-center flex-wrap gap-4 p-4 rounded"
      *ngIf="globals.user?.user_type != '2' && globals.user?.institution_id == ''"
    >
      <img src="assets/images/alert-circle.png" alt="alert" />
      <p class="col col-md mb-0 opacity-50">
        Upload your ID for authentication. you can do this in your accounts
        settings.
      </p>
      <div class="col-12 col-md-2">
        <a
          href="javascript:void(0)"
          routerLink="/portal/settings"
          class="text-white"
          >Upload ID</a
        >
      </div>
    </div>
    <div
      class="my-5 dark-section d-flex align-items-center gap-4 p-4 rounded warning-notif position-relative"
      *ngIf="
        globals.user?.user_type != '2' && globals.user?.institution_id == ''
      "
    >
      <img src="assets/images/warning-circle.png" alt="alert" />
      <p class="mb-0 opacity-50">
        Upload your ID for authentication. you can do this in your accounts
        settings.
        <br /><br />
        <a href="#" class="text-white">Dismiss</a>
      </p>
    </div>
    <div
      class="row g-0 gap-5 justify-content-between"
      *ngIf="globals.user?.user_type != '2'"
    >
      <div class="col dark-section rounded text-center">
        <img src="assets/images/profile.png" alt="profile" />

        <div class="my-5">
          <p class="mb-0 fs-4">{{ globals.user?.name }}</p>
          <p class="mb-0 opacity-50">{{ globals.user?.institution_name }}</p>
          <small class="opacity-50 fw-bolder">{{
            globals.user?.country
          }}</small>
        </div>

        <div class="d-flex align-items-center justify-content-center gap-5">
          <div class="me-3">
            <p class="mb-0 fs-3 fw-bolder">12</p>
            <p class="mb-0">Profile views</p>
          </div>
          <div>
            <p class="mb-0 fs-3 fw-bolder">12</p>
            <p class="mb-0">Interactions</p>
          </div>
        </div>
      </div>
      <div class="col dark-section rounded px-4">
        <div class="text-center">
          <span class="percentage position-relative" id="progress-circle"
            >{{ calculatePercentage }}%</span
          >
        </div>
        <div class="bar my-5 mb-0" id="progress-bar"></div>
        <p class="my-4 fw-medium">
          Your profile is {{ calculatePercentage }}% complete.
        </p>
        <p class="mb-0 opacity-50">
          A complete profile allows you to showcase your skills, achievements,
          and potential to a wider audience, including college coaches,
          recruiters, and sports enthusiasts. Complete profile
        </p>
        <button
          class="btn btn-primary mt-4 w-100"
          (click)="navigateToCompleteProfile()"
        >
          Complete Profile
        </button>
      </div>
    </div>
    <p class="mb-0 fw-semibold my-5">Recent connections</p>
    <div class="row g-0 mb-5">
      <div class="col-12" *ngIf="globals.user?.user_type != '2'">
        <div class="my-5 mb-3 dark-section p-4 rounded">
          <div class="d-flex align-items-center">
            <img
              src="https://icons.iconarchive.com/icons/wikipedia/flags/512/US-United-States-Flag-icon.png"
              width="30px"
              alt="U.S.A image"
            />
            <p class="mb-0 ms-1 fw-semibold opacity-50">USA</p>
          </div>
          <div class="row g-0">
            <div
              class="col-12 col-md-5 border-end border-2 border-opacity-50 border-light"
            >
              <p class="mb-0 fs-1 fw-bolder">Alex Payne</p>
            </div>
            <div
              class="col-12 col-md-5 d-flex align-items-center justify-content-md-end"
            >
              <p class="mb-0 opacity-50">Harmony coaching academy</p>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-3">
          <p class="mb-0 opacity-50">3 minutes ago</p>
          <a href="#" class="text-white">Report an issue</a>
        </div>
      </div>
      <connection-card *ngIf="globals.user?.user_type == '2'"></connection-card>
      <!-- <no-data [message]="'Nothing to see here'"></no-data> -->
    </div>
    <p class="mb-0 opacity-50" *ngIf="globals.user?.user_type == '2'">
      Featured Profiles
    </p>
    <div
      class="d-flex align-items-center flex-wrap gap-4 mt-5 mb-4"
      *ngIf="globals.user?.user_type == '2'"
    >
      <player-card
        *ngFor="let player of studentsService.students"
        [margin_right]="'0'"
        [player]="player"
      ></player-card>
    </div>
  </div>
  <div
    class="col-12 col-md-5 d-none d-md-block dark-section p-5"
    *ngIf="globals.user?.user_type != '2'"
  >
    <notification></notification>
  </div>
</div>
