<div
  class="container-fluid min-vh-100 row g-0 justify-content-center align-items-center"
>
  <div class="col-3 confirm-email">
    <div class="d-flex align-items-center gap-3 mb-5 justify-content-center">
      <img src="assets/images/logo.png" alt="logo" class="logo" />
      <p class="mb-0">Markup Athletics</p>
    </div>
    <div class="text-center my-3">
      <img src="assets/images/confetti 1.svg" class="mb-5" alt="complete-profile" />
      <h4 class="mb-3 fw-bolder">Profile complete</h4>
    </div>
    <p class="mb-4 opacity-50 text-center">
      Congratulations on completing profile!!. Your profile has been
      submitted.<br />
      It usually takes 2-3 business days for the review process to be completed.
      <br /><br />
      You will be notified once the process is complete.
    </p>
    <button class="btn btn-primary w-100">Go to my dashboard</button>
  </div>
</div>
