<form class="col-12" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="form-input position-relative mb-3">
    <label for="password" class="form-label">
      {{ firstInputLabel }}
    </label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      class="form-control"
      id="password"
      placeholder="********"
      formControlName="password"
      required
    />
    <i
      class="bi"
      [ngClass]="{ 'bi-eye': showPassword, 'bi-eye-slash': !showPassword }"
      (click)="showPassword = !showPassword"
    ></i>
  </div>
  <div
    class="text-danger mb-3"
    *ngIf="password.invalid && (password.dirty || password.touched)"
  >
    <small *ngIf="password.errors?.['required']">Password is required</small>
    <small *ngIf="password.errors?.['pattern']">
      Password must contain at least 8 characters, 1 uppercase letter, 1
      lowercase letter, 1 number and 1 special character
    </small>
  </div>
  <div class="form-input position-relative mb-3">
    <label for="confirmPassword" class="form-label">{{
      secondInputLabel
    }}</label>
    <input
      [type]="showConfirmPassword ? 'text' : 'password'"
      class="form-control"
      id="confirmPassword"
      placeholder="********"
      formControlName="password_confirmation"
      required
    />
    <i
      class="bi"
      [ngClass]="{
        'bi-eye': showConfirmPassword,
        'bi-eye-slash': !showConfirmPassword
      }"
      (click)="showConfirmPassword = !showConfirmPassword"
    ></i>
  </div>
  <div
    class="text-danger mb-3"
    *ngIf="
      password_confirmation.invalid &&
      (password_confirmation.dirty || password_confirmation.touched)
    "
  >
    <small *ngIf="password_confirmation.errors?.['required']"
      >Confirm password is required</small
    >
    <small *ngIf="password_confirmation.errors?.['passwordMismatch']"
      >Password does not match</small
    >
  </div>
  <button class="btn btn-primary w-100" [disabled]="passwordForm.invalid">
    {{ submitButtonLabel }}
  </button>
</form>
