.profile-form {
  .form-control {
    background: #2a2a2e;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    color: #fff;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: #fff;
      opacity: 0.5;
    }
  }

  .select-menu {
    position: relative;
    outline: none;
    border: none;
    background: none;
    width: 100%;
    text-align: start;

    .select-btn {
      background: #2a2a2e;
      border: 1px solid #fff;
      border-radius: 0.5rem;
      color: #fff;
      padding: 0.4rem 1.25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .selected-item {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .select-list {
      border-radius: 0.1875rem;
      background: #2a2a2e;
      padding: 0.5rem;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
      z-index: 100;
      display: none;

      &.active {
        display: block;
      }
    }

    &#interests .select-list .select-item.selected::after {
      content: "";
      position: absolute;
      background: var(--success);
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      z-index: 1;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }
  }
}

.profile-form .select-menu .select-list li {
  list-style: none;
  padding: 0.5rem 1.25rem;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 0.875rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.54);
  color: hsla(0, 0%, 100%, 0.54);
}

.profile-form .select-menu .select-list li:hover {
  background: #3a3a3b;
}

.profile-form .select-menu#interests .select-list {
  bottom: 100%;
  top: auto;
}

.profile-form .badge.bg-dark {
  background: #1a1a1e;
  font-size: 1.125rem;
  font-weight: 700;
}

.profile-form .select-menu#interests .select-list .select-item.selected {
  position: relative;
}

.profile-form
  .select-menu#interests
  .select-list
  .select-item.selected::before {
  content: "";
  position: absolute;
  background: var(--success);
  border: 2px solid #1a1a1e;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  z-index: 2;
  top: 50%;
  right: 1.12rem;
  transform: translateY(-50%);
}

img[alt="profile"] {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid var(--success);
  object-fit: cover;
  padding: 2px;
}

.btn.upload {
  border: 1px solid rgba(255, 255, 255, 0.54);
  padding: 0.625rem 1.25rem;
  max-width: 20rem;
  width: 100%;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .w-50 {
    width: 100% !important;
  }

  .title {
    font-size: 1.5rem;
  }
}
