<div class="row g-0 p-4 mx-3 header d-flex d-md-none">
  <div class="col d-flex justify-content-center align-items-center">
    <div class="d-flex align-items-center gap-3 pointer" routerLink="/">
      <img src="assets/images/logo.png" alt="logo" class="mini-logo" />
      <p class="mb-0">Markup Athletics</p>
    </div>
  </div>
  <div class="col-1">
    <button class="closeButton" (click)="globals.goBack()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>
<div
  class="container-fluid min-vh-100 row g-0 justify-content-center align-items-start align-items-md-center p-5 p-md-0"
>
  <div class="col-md-12 col-md-3 confirm-email">
    <div
      class="align-items-center gap-3 mb-5 justify-content-center d-none d-md-flex"
    >
      <img src="assets/images/logo.png" alt="logo" class="logo" />
      <p class="mb-0">Markup Athletics</p>
    </div>
    <div class="text-center my-3">
      <img
        src="assets/images/confetti 1.svg"
        class="mb-5"
        alt="complete-profile"
      />
      <h4 class="mb-3 fw-bolder">Password reset success.</h4>
    </div>
    <p class="mb-4 opacity-50 text-center">
      You can use your new password to log into your account.
    </p>
    <button class="btn btn-primary w-100" routerLink="/auth/login">
      Go to login
    </button>
  </div>
</div>
