<div
  class="container-fluid min-vh-100 row g-0 justify-content-center align-items-center"
>
  <div class="col-3 confirm-email">
    <div class="d-flex align-items-center gap-3 mb-5 justify-content-center">
      <img src="assets/images/logo.png" alt="logo" class="logo" />
      <p class="mb-0">Markup Athletics</p>
    </div>
    <div class="text-center my-3">
      <img
        src="assets/images/confetti 1.svg"
        class="mb-5"
        alt="complete-profile"
      />
      <h4 class="mb-3 fw-bolder">Password reset success.</h4>
    </div>
    <p class="mb-4 opacity-50 text-center">
      You can use your new password to log into your account.
    </p>
    <button class="btn btn-primary w-100"
    routerLink="/auth/login"
    >Go to login</button>
  </div>
</div>
