<footer class="py-5">
  <div class="row g-0">
    <div class="col-12 col-md-10 my-2">
      <div
        class="d-flex align-items-center justify-content-center justify-content-md-start gap-4 mb-4 text-center text-md-start"
      >
        <img src="assets/images/logo.png" alt="logo" class="logo" />
        <p class="mb-0 fs-30">Markup Athletics</p>
      </div>
      <div class="d-flex align-items-center gap-4 mb-4">
        <ul
          class="d-flex align-items-center gap-0 gap-md-4 mb-0 ps-0 flex-wrap flex-md-nowrap text-center text-md-start"
        >
          <li class="nav-item col-6 col-md-3 list-unstyled">
            <a href="index.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item col-6 col-md-3 list-unstyled">
            <a href="about.html" class="nav-link">About us</a>
          </li>
          <li class="nav-item col-6 col-md-3 list-unstyled">
            <a href="contactus.html" class="nav-link mt-3 mt-md-0"
              >Contact Us</a
            >
          </li>
          <li class="nav-item col-6 col-md-3 list-unstyled">
            <a href="faq.html" class="nav-link mt-3 mt-md-0">FAQ's</a>
          </li>
          <li class="nav-item col-6 col-md-3 list-unstyled">
            <a href="news.html" class="nav-link mt-3 mt-md-0">News</a>
          </li>
        </ul>
      </div>
    </div>
    <small class="text-white text-center text-md-start my-2 my-md-0 copyright"
      >Markup Athletics, Copyright © 2023.</small
    >
    <div
      class="col-12 col-md-2 d-flex flex-column justify-content-end gap-2 gap-md-0 text-center text-md-start"
    >
      <p class="mb-0 opacity-75">Follow Athlete zone</p>
      <div
        class="d-flex align-items-center justify-content-center justify-content-md-start"
      >
        <a href="#" class="text-decoration-none">
          <img src="assets/images/facebook.png" alt="facebook" />
        </a>
        <a href="#" class="text-decoration-none">
          <img src="assets/images/twitter.png" alt="twitter" />
        </a>
        <a href="#" class="text-decoration-none">
          <img src="assets/images/instagram.png" alt="instagram" />
        </a>
        <a href="#" class="text-decoration-none">
          <img src="assets/images/youtube.png" alt="youtube" />
        </a>
      </div>
    </div>
  </div>
</footer>
