<div
  class="row g-0 gap-3 flex-nowrap justify-content-center justify-content-md-start"
>
  <div class="col">
    <p class="mb-4 d-flex align-items-center">
      <img
        src="assets/images/grid.png"
        alt="dashboard"
        class="me-2 img-success"
      />
      <span class="opacity-50">Dashboard</span>
    </p>
    <p class="mb-4 opacity-50">Analytics</p>
    <div
      class="d-flex align-items-center justify-content-between gap-3 flex-wrap me-3"
    >
      <div class="card dark-section text-center p-3 px-5 border-0">
        <p class="mb-2 text-white">Number of Coaches</p>
        <h1 class="text-white">54</h1>
      </div>
      <div class="card dark-section text-center p-3 px-5 border-0">
        <p class="mb-2 text-white">Number of Students</p>
        <h1 class="text-white">54</h1>
      </div>
      <div class="card dark-section text-center p-3 px-5 border-0">
        <p class="mb-2 text-white">Pending profile approvals</p>
        <h1 class="text-white">54</h1>
      </div>
      <div class="card dark-section text-center p-3 px-5 border-0">
        <p class="mb-2 text-white">Connections</p>
        <h1 class="text-white">54</h1>
      </div>
    </div>
  </div>
</div>
