<div
  class="news-detail-section top-line"
  [ngStyle]="ngStyle"
  [ngClass]="{ 'top-line': !ngStyle }"
>
  <a
    (click)="globals.goBack()"
    class="text-decoration-none opacity-50 text-white ms-2 ms-md-0 pointer"
    *ngIf="displayGoBack"
  >
    <i class="bi bi-chevron-left"></i>
    <span class="text-decoration-underline">Go back</span>
  </a>
  <p class="ms-2 ms-md-0 mb-2 opacity-50 mt-5">
    {{ news?.created_at | date : "MMM d, y 'at' h:mm a" }}
  </p>
  <h3 class="ms-2 ms-md-0 fw-700">
    {{ news?.title }}
  </h3>
  <p class="ms-2 ms-md-0 mb-0 opacity-50">
    {{ news?.tag }}
  </p>

  <img [src]="news?.imagePath" alt="" class="my-4" />
  <section class="mb-5 mx-2 mx-md-0" [innerHTML]="news?.body"></section>
  <a
    href="javascript:void(0);"
    class="text-decoration-none read-more ms-2 ms-md-0"
    >Read more</a
  >
</div>
