<div class="row g-0 flex-nowrap me-5">
  <div class="col-11">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <div class="d-flex align-items-center">
        <img
          src="assets/images/book-open.png"
          alt="dashboard"
          class="me-2 img-success"
        />
        <p class="mb-0 opacity-50">News</p>
      </div>
    </div>
    <h6>Latest News</h6>
    <news-container
      [news]="newsService.news"
      [ngStyle]="{ width: 'auto', 'margin-inline': '0' }"
      [baseLink]="'/student/news'"
    ></news-container>
  </div>
</div>
