<div class="d-flex align-items-center justify-content-between mt-5 mb-2">
  <p class="mb-2 fw-bold mt-4">Educational Background</p>
  <i class="bi bi-x-lg mt-4 pointer"></i>
</div>
<p class="mb-5 opacity-50">
  Enter the details below to update your educational background.
</p>
<form class="profile-form" [formGroup]="profileDataForm">
  <div class="row g-4">
    <div class="col-6">
      <label class="opacity-50 fw-bold">Course of Study</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        placeholder="enter course of study here"
      />
    </div>
    <div class="col-6">
      <label class="opacity-50 fw-bold">Grade point average (GPA)</label>
      <input type="text" class="form-control mb-4 mt-2" placeholder=" eg 3.5" />
    </div>
    <div class="col-6">
      <label class="opacity-50 fw-bold">Graduation Year</label>
      <input type="text" class="form-control mb-4 mt-2" placeholder="eg YYYY" />
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold">Extra curricular activities </label>
      <button
        class="select-menu mt-2"
        id="interests"
        (click)="toggleSelectMenu($event, false)"
      >
        <div class="select-btn">
          <span class="selected-item">Select extra curricular activities</span>
          <i class="bi bi-chevron-down"></i>
        </div>
        <ul class="select-list">
          <li
            class="select-item"
            *ngFor="let activity of activities"
            (click)="addActivity(activity)"
            [ngClass]="{
              selected: profileDataForm.value.activities.includes(activity)
            }"
          >
            {{ activity }}
          </li>
        </ul>
      </button>
      <ul
        class="d-flex align-items-center flex-wrap mt-3 p-0 gap-2"
        id="interests-list"
      >
        <li
          class="me-3 list-unstyled"
          *ngFor="let activity of profileDataForm.value.activities"
        >
          <span class="badge bg-dark p-3 position-relative">
            {{ activity }}
            <img
              src="assets/images/minus-circle.png"
              alt="x"
              class="ms-2 position-absolute pointer"
              style="top: -10px; right: -10px; z-index: 1"
              (click)="removeActivity(activity)"
            />
          </span>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold">Academic Achievements</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        placeholder="What are some of your academic achievements ?"
      />
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold">Transcript (Optional)</label>
      <div
        class="position-relative image-upload"
        id="transcript-container"
        [ngClass]="{ 'd-none': transcriptImg }"
      >
        <input
          type="file"
          accept="image/*"
          (change)="dropImage($event)"
          (drop)="dropImage($event)"
          (dragover)="onDragOver($event)"
          name="image"
          multiple="false"
          id="transcript"
        />
        <label
          for="transcript"
          class="w-100 mb-0"
        >
          <img src="assets/images/upload.png" alt="image upload" class="mb-3" />
          <p class="mb-0">
            <span class="text-danger">Click to upload</span> or drag and drop
          </p>
        </label>
      </div>
      <div
        class="position-relative"
        id="transcript-preview"
        [ngClass]="{ 'd-none': !transcriptImg }"
      >
        <img [src]="transcriptImg" alt="" class="w-100" />
        <button
          class="btn btn-primary w-25 mt-3"
          id="transcript-btn"
          (click)="
            transcriptImg = null;
            profileDataForm.patchValue({ transcript: null })
          "
        >
          <i class="bi bi-trash me-2"></i>
        </button>
      </div>
    </div>

    <div class="col-12 text-end">
      <button class="btn btn-primary w-50">Save and continue</button>
    </div>
  </div>
</form>
