<div class="d-flex align-items-center justify-content-between mt-5 mb-2">
  <p class="mb-2 fw-bold mt-4">Educational Background</p>
  <i class="bi bi-x-lg mt-4 pointer" (click)="gotoDashboard()"></i>
</div>
<p class="mb-5 opacity-50">
  Enter the details below to update your educational background.
</p>
<form
  class="profile-form"
  [formGroup]="profileDataForm"
  (ngSubmit)="onSubmit()"
>
  <div class="row g-4">
    <div class="col-6">
      <label class="opacity-50 fw-bold">Course of Study</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        formControlName="course_of_study"
        placeholder="enter course of study here"
        required
      />
      <div
        class="text-danger"
        *ngIf="
          course_of_study.invalid &&
          (course_of_study.touched || course_of_study.dirty)
        "
      >
        <small *ngIf="course_of_study.errors?.['required']"
          >Course of Study is required</small
        >
      </div>
    </div>
    <div class="col-6">
      <label class="opacity-50 fw-bold">Grade point average (GPA)</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        placeholder=" eg 3.5"
        formControlName="gpa"
        required
      />
      <div
        class="text-danger"
        *ngIf="gpa.invalid && (gpa.touched || gpa.dirty)"
      >
        <small *ngIf="gpa.errors?.['required']">GPA is required</small>
      </div>
    </div>
    <div class="col-6">
      <label class="opacity-50 fw-bold">Graduation Year</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        placeholder="eg YYYY"
        formControlName="graduation_year"
        required
      />
      <div
        class="text-danger"
        *ngIf="
          graduation_year.invalid &&
          (graduation_year.touched || graduation_year.dirty)
        "
      >
        <small *ngIf="graduation_year.errors?.['required']"
          >Graduation Year is required</small
        >
      </div>
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold">Extra curricular activities </label>
      <button
        class="select-menu mt-2"
        id="interests"
        (click)="toggleSelectMenu($event, false)"
      >
        <div class="select-btn" style="pointer-events: none">
          <span class="selected-item">Select extra curricular activities</span>
          <i class="bi bi-chevron-down"></i>
        </div>
        <ul class="select-list">
          <li
            class="select-item"
            *ngFor="let activity of activities"
            (click)="addActivity(activity)"
            [ngClass]="{
              selected:
                profileDataForm.value.extra_curricular_activities.includes(
                  activity
                )
            }"
          >
            {{ activity }}
          </li>
        </ul>
      </button>
      <ul
        class="d-flex align-items-center flex-wrap mt-3 p-0 gap-2"
        id="interests-list"
      >
        <li
          class="me-3 list-unstyled"
          *ngFor="let activity of profileDataForm.value.extra_curricular_activities"
        >
          <span class="badge bg-dark p-3 position-relative">
            {{ activity }}
            <img
              src="assets/images/minus-circle.png"
              alt="x"
              class="ms-2 position-absolute pointer"
              style="top: -10px; right: -10px; z-index: 1"
              (click)="removeActivity(activity)"
            />
          </span>
        </li>
      </ul>
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold">Academic Achievements</label>
      <input
        type="text"
        class="form-control mb-4 mt-2"
        placeholder="What are some of your academic achievements ?"
        formControlName="academic_achievement"
      />
      <div
        class="text-danger"
        *ngIf="
          academic_achievement.invalid &&
          (academic_achievement.touched || academic_achievement.dirty)
        "
      >
        <small *ngIf="academic_achievement.errors?.['required']"
          >Academic Achievement is required</small
        >
      </div>
    </div>
    <div class="col-12">
      <label class="opacity-50 fw-bold">Transcript (Optional)</label>
      <div
        class="position-relative image-upload"
        id="transcript-container"
        [ngClass]="{ 'd-none': profileDataForm.value.transcript_path }"
      >
        <input
          type="file"
          accept="image/*"
          (change)="dropImage($event)"
          (drop)="dropImage($event)"
          (dragover)="dropImage($event)"
          name="image"
          multiple="false"
          id="transcript"
        />
        <label for="transcript" class="w-100 mb-0">
          <img src="assets/images/upload.png" alt="image upload" class="mb-3" />
          <p class="mb-0">
            <span class="text-danger">Click to upload</span> or drag and drop
          </p>
        </label>
      </div>
      <div
        class="position-relative"
        id="transcript-preview"
        [ngClass]="{ 'd-none': !profileDataForm.value.transcript_path }"
      >
        <img [src]="profileDataForm.value.transcript_path" alt="" class="w-100" />
        <button
          class="btn btn-primary w-25 mt-3"
          id="transcript-btn"
          (click)="
            profileDataForm.patchValue({ transcript_path: null })
          "
        >
          <i class="bi bi-trash me-2"></i>
        </button>
      </div>
    </div>

    <div class="col-12 text-end">
      <button class="btn btn-primary w-50">
        Save and continue
      </button>
    </div>
  </div>
</form>
