<form class="row g-0 gx-5" [formGroup]="passwordForm" (ngSubmit)="submit()">
  <div class="form-input position-relative mb-3 col-12">
    <label for="old_password" class="form-label"> Old password </label>
    <input
      [type]="showOldPassword ? 'text' : 'password'"
      class="form-control"
      id="old_password"
      placeholder="********"
      formControlName="old_password"
      required
    />
    <i
      class="bi"
      [ngClass]="{
        'bi-eye': showOldPassword,
        'bi-eye-slash': !showOldPassword
      }"
      (click)="showOldPassword = !showOldPassword"
    ></i>
  </div>
  <div
    class="text-danger mb-3"
    *ngIf="old_password.invalid && (old_password.dirty || old_password.touched)"
  >
    <small *ngIf="old_password.errors?.['required']"
      >Old Password is required</small
    >
  </div>

  <div class="form-input position-relative mb-3 col-12">
    <label for="password" class="form-label"> New password </label>
    <input
      [type]="showPassword ? 'text' : 'password'"
      class="form-control"
      id="password"
      placeholder="********"
      formControlName="password"
      required
    />
    <i
      class="bi"
      [ngClass]="{
        'bi-eye': showPassword,
        'bi-eye-slash': !showPassword
      }"
      (click)="showPassword = !showPassword"
    ></i>
  </div>
  <div
    class="text-danger mb-3"
    *ngIf="password.invalid && (password.dirty || password.touched)"
  >
    <small *ngIf="password.errors?.['required']">Password is required</small>
    <small *ngIf="password.errors?.['pattern']">
      Password must contain at least 8 characters, 1 uppercase letter, 1
      lowercase letter, 1 number and 1 special character
    </small>
  </div>

  <div class="form-input position-relative mb-3 col-12">
    <label for="password_confirmation" class="form-label"> Confirm new password </label>
    <input
      [type]="showPasswordConfirmation ? 'text' : 'password'"
      class="form-control"
      id="password_confirmation"
      placeholder="********"
      formControlName="password_confirmation"
      required
    />
    <i
      class="bi"
      [ngClass]="{
        'bi-eye': showPasswordConfirmation,
        'bi-eye-slash': !showPasswordConfirmation
      }"
      (click)="showPasswordConfirmation = !showPasswordConfirmation"
    ></i>
  </div>
  <div
    class="text-danger mb-3"
    *ngIf="password_confirmation.invalid && (password_confirmation.dirty || password_confirmation.touched)"
  >
    <small *ngIf="password_confirmation.errors?.['required']"
      >Confirm password is required</small
    >
    <small *ngIf="password_confirmation.errors?.['passwordMismatch']"
      >Password does not match</small
    >
  </div>

  <div class="d-flex align-items-center justify-content-end gap-2 flex-wrap order-sm-reverse">
    <button class="btn btn-secondary">Cancel</button>
    <button
      class="btn btn-primary"
      [disabled]="!passwordForm.valid"
      type="submit"
      style="width: 300px"
    >
      Update password
    </button>
  </div>
</form>
