<div id="carouselId" class="carousel slide mt-3" data-bs-ride="carousel">
  <ol class="carousel-indicators align-items-center gap-2">
    01
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="First slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="1"
      aria-label="Second slide"
    ></li>
    <li
      data-bs-target="#carouselId"
      data-bs-slide-to="2"
      aria-label="Third slide"
    ></li>
    03
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img
        src="https://images.unsplash.com/photo-1689533917422-aa9d39b95906?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        class="w-100 d-block"
        alt="First slide"
      />
      <div class="carousel-caption">
        <h3>bringing the <span>advantage!</span></h3>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1546519638-68e109498ffc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1190&q=80"
        class="w-100 d-block"
        alt="Second slide"
      />
      <div class="carousel-caption">
        <h3>bringing the <span>advantage!</span></h3>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="https://images.unsplash.com/photo-1490323522928-9bfab6309902?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
        class="w-100 d-block"
        alt="Third slide"
      />
      <div class="carousel-caption">
        <h3>bringing the <span>advantage!</span></h3>
      </div>
    </div>
  </div>
</div>

<!-- <socials-hanging></socials-hanging> -->

<!---------------- WHO WE ARE ----------------->
<div class="row g-0 who-section py-5 mb-7">
  <div class="col-12 position-relative">
    <img
      src="assets/images/glow-circles.png"
      alt="glow-circles"
      width="150px"
    />
    <div class="position-relative">
      <h3 class="text-center">MARKUP ATHLETICS</h3>
      <h4 class="text-center">Who we <span>are...</span></h4>
    </div>
  </div>
  <div class="col-12 position-relative">
    <p class="mb-0">
      Markup Athletics is a non-governmental organization dedicated to
      empowering African high school student athletes with the tools they need
      to succeed both academically and athletically. Our platform serves as a
      bridge between talented student athletes in Africa and college coaches in
      the US... <a routerLink="/about-us" class="text-white">Read more.</a>
    </p>
    <img
      src="assets/images/glow-circles.png"
      alt="glow-circles"
      width="150px"
    />
  </div>
</div>
<!---------------- WHO WE ARE ----------------->

<!---------------- HOW IT WORKS ----------------->
<div class="row g-0">
  <div class="col-12 mb-5">
    <h3 class="mb-3 text-center title">Here’s how it works for students.</h3>
    <p class="mb-0 text-center sub-title">
      Empowering African high school student athletes to achieve academic and
      sports excellence by providing a platform that connects them with college
      coaches in the US
    </p>
  </div>
  <div
    class="row g-0 gy-5 col-12 d-flex align-items-center justify-content-evenly pt-0 pt-md-5 mt-0 mt-md-5"
  >
    <div class="steps">
      <span class="number"> 1 </span>
      <h5>Signup and profile <span>creation.</span></h5>
      <p class="mb-0">
        Sign up by creating a personalized profile with essential details.
      </p>
    </div>
    <div class="steps">
      <span class="number"> 2 </span>
      <h5>Verification and <span>Analytics.</span></h5>
      <p class="mb-0">
        After verification, a comprehensive analytics of your performance is
        generated.
      </p>
    </div>
    <div class="steps">
      <span class="number"> 3 </span>
      <h5>EMPOWERMENT and<span> Visibility.</span></h5>
      <p class="mb-0">
        Once verified and analyzed, your profile is published and ready for view
        by college coaches.
      </p>
    </div>
  </div>
  <div
    class="row g-0 gy-5 col-12 d-flex align-items-center justify-content-evenly pt-0 pt-md-5 mt-0 mt-md-5"
  >
    <div class="steps">
      <span class="number"> 4 </span>
      <h5>preparation and<span>support.</span></h5>
      <p class="mb-0">
        Get assistance with aptitude tests, English proficiency test and VISA
        preparation for your transition.
      </p>
    </div>
    <div class="steps">
      <span class="number"> 5 </span>
      <h5>Mentorship and <span>Growth.</span></h5>
      <p class="mb-0">
        Connect with established sports personalities who serve as mentors,
        providing guidance and support.
      </p>
    </div>
  </div>
</div>
<!---------------- HOW IT WORKS ----------------->

<!---------------- BRIDGE ----------------->
<div class="bridge-section">
  <img
    src="https://images.unsplash.com/photo-1434596922112-19c563067271?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
  />
  <h3 class="mb-0">
    We aim to <span>bridge the gap</span>, promote education and sports abroad,
    and create opportunities for <span>talented young athletes</span> in Africa
    to <span>study and compete</span> at a high level in the United States.
  </h3>
</div>
<!---------------- BRIDGE ----------------->

<!---------------- COACHES ----------------->
<div class="row g-0 coaches">
  <div class="col-12 mb-5 pt-5">
    <h3 class="mb-3 text-center title">Here’s how it works for coaches.</h3>
    <p class="mb-0 text-center sub-title">
      Empowering African high school student athletes to achieve academic and
      sports excellence by providing a platform that connects them with college
      coaches in the US
    </p>
  </div>
  <div
    class="row g-0 gy-5 col-12 d-flex align-items-center justify-content-evenly pt-0 pt-md-5 mt-0 mt-md-5"
  >
    <div class="steps">
      <span class="number"> 1 </span>
      <h5>Signup and profile <span>creation.</span></h5>
      <p class="mb-0">
        Sign up by creating a personalized profile with essential details.
      </p>
    </div>
    <div class="steps">
      <span class="number"> 2 </span>
      <h5>Verification and <span>Analytics.</span></h5>
      <p class="mb-0">
        After verification, a comprehensive analytics of your performance is
        generated.
      </p>
    </div>
    <div class="steps">
      <span class="number"> 3 </span>
      <h5>EMPOWERMENT and<span> Visibility.</span></h5>
      <p class="mb-0">
        Once verified and analyzed, your profile is published and ready for view
        by college coaches.
      </p>
    </div>
  </div>
  <div
    class="row g-0 gy-5 col-12 d-flex align-items-center justify-content-evenly pt-0 pt-md-5 mt-0 mt-md-5"
  >
    <div class="steps">
      <span class="number"> 4 </span>
      <h5>preparation and<span> support.</span></h5>
      <p class="mb-0">
        Get assistance with aptitude tests, English proficiency test and VISA
        preparation for your transition.
      </p>
    </div>
    <div class="steps">
      <span class="number"> 5 </span>
      <h5>Mentorship and <span>Growth.</span></h5>
      <p class="mb-0">
        Connect with established sports personalities who serve as mentors,
        providing guidance and support.
      </p>
    </div>
  </div>
</div>
<!---------------- COACHES ----------------->

<!---------------- SPOTLIGHT ----------------->
<div class="spotlight-section mb-3">
  <h3 class="mb-0 text-center pt-3">Spotlight.</h3>
  <div class="card-section">
    <player-card></player-card>
    <player-card></player-card>
    <player-card></player-card>
    <player-card></player-card>
  </div>
  <div
    class="d-flex align-items-center justify-content-between card-navigations"
  >
    <a href="#player1" class="card-navigation">
      <i class="bi bi-chevron-left"></i>
    </a>
    <a href="#player5" class="card-navigation">
      <i class="bi bi-chevron-right"></i>
    </a>
  </div>
</div>
<!---------------- SPOTLIGHT ----------------->

<!---------------- FAQS ----------------->
<div class="faqs-section">
  <div class="d-flex align-items-center justify-content-between pt-5">
    <h3 class="mb-0">FAQs</h3>
    <button class="btn btn-secondary read-more">Read more</button>
  </div>
  <faqs [faqs]="faqsService.faqs"></faqs>
</div>
<!---------------- FAQS ----------------->
