.logo {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.logo ~ p {
  font-family: "Staatliches";
  font-size: 1.125rem;
  font-weight: 400;
}

.header {
  border-bottom: 3px solid #0c0c0c;
}

.closeButton {
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
}

.mini-logo {
  width: 2rem;
  height: 2rem;
}