<div class="banner-section mt-3 mb-5">
  <img src="assets/images/sport1.jpg" alt="" />
  <h3 class="mb-0">About <span>Us.</span></h3>
</div>

<div class="row g-0 about-section py-5 mb-7">
  <img src="assets/images/glow-circles.png" alt="glow-circles" width="150px" />
  <div class="col-12 position-relative">
    <p style="text-align: justify; line-height: 200%;">
      Mark-up athletics is a non-governmental organization (NGO) that is
      dedicated to facilitating opportunities for African high school sports
      talent to connect with coaches in America. We act as a bridge between
      talented young athletes and coaches who can help you further develop your
      skills and potentially pursue academic and athletic opportunities in the
      United States. Our organization focuses on scouting, identifying, and
      nurturing promising sports talent in African high schools, and then
      facilitating the process of connecting them with American coaches and
      educational institutions. By doing so, we aim to create a pathway for
      athletes to access better training, education, and career prospects in the
      world of sports, while also fostering cultural exchange and global sports
      development.
    </p>
  </div>
  <img src="assets/images/glow-circles.png" alt="glow-circles" width="150px" />
</div>

<div class="row g-0 card-section">
  <div class="col-12 col-md-6 card-item">
    <img src="assets/images/1aded7e13e668a4385f58fa9d7fc5fbc.jpeg" alt="" />
    <div class="card-text">
      <div class="position-relative">
        <h1 class="mb-0">01.</h1>
      </div>
      <h3 class="mb-3">Our <span>Mission.</span></h3>
      <p class="mb-0">
        To empower and uplift African high school sports talent by creating
        opportunities for them to connect with coaches and educational
        institutions in America. We are dedicated to identifying, nurturing, and
        facilitating the development of these athletes, enabling them to pursue
        both their athletic and academic dreams while fostering cross-cultural
        exchanges.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-6 card-item">
    <img src="assets/images/3f73684074443552396c9c81327ac333.jpeg" alt="" />
  </div>
  <div class="col-12 col-md-6 card-item sm-last">
    <img src="assets/images/cdb2bef1acb5d12a589d45a4d2da171b.jpeg" alt="" />
  </div>
  <div class="col-12 col-md-6 card-item">
    <img src="assets/images/1aded7e13e668a4385f58fa9d7fc5fbc.jpeg" alt="" />
    <div class="card-text">
      <div class="position-relative">
        <h1 class="mb-0">02.</h1>
      </div>
      <h3 class="mb-3">Our <span>Vision.</span></h3>
      <p class="mb-0">
        Our vision is to be a catalyst for positive change in the lives of
        African high school sports talents, providing them with a pathway to
        success on and off the field. We aspire to become the premier
        organization in connecting these young athletes with American coaches,
        unlocking their full potential and creating a global community of
        well-rounded, educated, and accomplished individuals who contribute to
        the world of sports and beyond.
      </p>
    </div>
  </div>
</div>

<div class="banner-section mb-5 mt-0 mt-md-5">
  <img
    src="https://images.unsplash.com/photo-1599058917212-d750089bc07e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80"
    alt=""
  />
  <h3 class="mb-0">Core <span>Values.</span></h3>
</div>

<div class="core-section py-5 mb-7">
  <img src="assets/images/glow-circles.png" alt="glow-circles" width="150px" />
  <div class="row g-0 gy-5 border-bottom border-light pb-5">
    <div class="col-12">
      <h3 class="mb-0">Excellence</h3>
      <p class="mb-0">
        We strive for excellence in every aspect of our services, empowering
        student athletes to reach their highest potential academically and in
        sports.
      </p>
    </div>
    <div class="col-12">
      <h3 class="mb-0">Empowerment</h3>
      <p class="mb-0">
        We believe in empowering student athletes, enabling them to take charge
        of their future and seize opportunities in the world of sports and
        education.
      </p>
    </div>
    <div class="col-12">
      <h3 class="mb-0">Inclusivity</h3>
      <p class="mb-0">
        We embrace diversity and provide equal opportunities for all student
        athletes, irrespective of their background, gender, or ethnicity.
      </p>
    </div>
    <div class="col-12">
      <h3 class="mb-0">Integrity</h3>
      <p class="mb-0">
        We uphold the highest standards of integrity, transparency, and fairness
        in all our interactions with student athletes, coaches, and partners.
      </p>
    </div>
    <div class="col-12">
      <h3 class="mb-0">Professionalism</h3>
      <p class="mb-0">
        We are committed to maintaining a structured and professional
        environment, ensuring the best experience for our users
      </p>
    </div>
  </div>
  <img src="assets/images/glow-circles.png" alt="glow-circles" width="150px" />
</div>
