<div class="row g-0">
  <div class="col-12 row g-4 px-3">
    <div class="row g-0 mb-3 justify-content-between">
      <div class="col-6">
        <p class="form-label font-14 mb-0">Allow all notifications</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="form-check form-switch mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="r&r-push"
            name="review_rating_push"
          />
        </div>
      </div>
    </div>
    <div class="row g-0 mb-3 justify-content-between">
      <div class="col-6">
        <p class="form-label font-14 mb-0">Notify me when there’s a profile view</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="form-check form-switch mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="r&r-push"
            name="review_rating_push"
          />
        </div>
      </div>
    </div>
    <div class="row g-0 mb-3 justify-content-between">
      <div class="col-6">
        <p class="form-label font-14 mb-0">Notify me when a coach makes a connection</p>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="form-check form-switch mb-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="r&r-push"
            name="review_rating_push"
          />
        </div>
      </div>
    </div>
  </div>
</div>
