<form class="row g-0 gx-5" [formGroup]="accountForm" (ngSubmit)="submit()">
  <div class="form-input mb-3 col-6">
    <label for="name" class="form-label">First and last name </label>
    <input
      type="text"
      class="form-control"
      name="name"
      formControlName="name"
      id="name"
      placeholder="eg. John Doe"
      required
    />
    <small
      class="text-danger"
      *ngIf="name.errors?.['required'] && (name.dirty || name.touched)"
      >Please enter your first and last name</small
    >
  </div>
  <div class="form-input mb-3 col-6" *ngIf="user_type !== '2'">
    <label for="name" class="form-label">Educational Level</label>
    <button class="select-menu" (click)="toggleSelectMenu($event)">
      <div class="select-btn" style="pointer-events: none">
        <span class="selected-item">
          {{
            accountForm.value.educational_level || "Select Educational Level"
          }}
        </span>
        <i class="bi bi-chevron-down top-0"></i>
      </div>
      <ul class="select-list">
        <li
          class="select-item"
          *ngFor="let level of educational_levels"
          (click)="selectItem(level, 'educational_level')"
        >
          {{ level }}
        </li>
      </ul>
    </button>
  </div>
  <div class="form-input mb-3 col-6">
    <label for="institution" class="form-label">Name of institution </label>
    <input
      type="text"
      class="form-control"
      name="institution_name"
      formControlName="institution_name"
      id="institution"
      placeholder="eg. Example college"
      required
    />
    <small
      class="text-danger"
      *ngIf="institution_name.errors?.['required'] && (institution_name.dirty || institution_name.touched)"
      >Please enter your institution name</small
    >
  </div>
  <div class="form-input mb-3 col-6">
    <label for="email" class="form-label">Institution email address </label>
    <input
      type="text"
      class="form-control"
      name="email"
      formControlName="email"
      id="email"
      placeholder="eg.johndoe@examplecollege.com"
      required
    />
    <small
      class="text-danger"
      *ngIf="email.errors?.['required'] && (email.dirty || email.touched)"
      >Please enter your institution email address</small
    >
  </div>
  <div class="form-input mb-3 col-6">
    <label for="name" class="form-label">Select Country </label>
    <select
      class="form-select"
      aria-label="Default select example"
      name="country"
      formControlName="country"
      required
    >
      <option selected value="">Select Country</option>
      <option *ngFor="let country of globals.countries" [value]="country">
        {{ country }}
      </option>
    </select>
    <small
      class="text-danger"
      *ngIf="country.errors?.['required'] && (country.dirty || country.touched)"
      >Please select your region</small
    >
  </div>
  <div class="mb-5 col-6">
    <label for="phone" class="form-label">Phone Number </label>
    <intl-telephone-input
      [preferredCountries]="[CountryISO.Ghana, CountryISO.UnitedStates]"
      [enablePlaceholder]="true"
      [searchCountryFlag]="true"
      [separateDialCode]="true"
      [enableAutoCountrySelect]="true"
      [searchCountryField]="SearchCountryField.All"
      [phoneValidation]="false"
      [numberFormat]="PhoneNumberFormat.International"
      [inputId]="'phone'"
      (onChange)="onPhoneNumberChange($event)"
      [className]="'form-input-select'"
    >
    </intl-telephone-input>
  </div>
  <div
    class="col-12 border-bottom border-light"
    *ngIf="user_type !== '2'"
  ></div>
  <div class="col-12" *ngIf="user_type !== '2'">
    <label class="fw-bold my-3">Upload your institution ID</label>
    <p class="mb-0 opacity-50">Add your ID for authentication</p>
    <div class="position-relative image-upload mb-3" id="transcript-container">
      <input
        type="file"
        (change)="dropImage($event)"
        (drop)="dropImage($event)"
        (dragover)="onDragOver($event)"
        name="image"
        id="transcript"
      />
      <label for="transcript" class="w-100 mb-0">
        <img src="assets/images/upload.png" alt="image upload" class="mb-3" />
        <p class="mb-0">
          <span class="text-danger">Click to upload</span> or drag and drop
        </p>
      </label>
    </div>
    <div
      class="col-6 py-2 file"
      *ngFor="let file of accountForm.value.institution_id; let i = index"
    >
      <div class="d-flex align-items-start justify-content-between">
        <div class="d-flex align-items-start">
          <i class="bi bi-file-earmark"></i>
          <div>
            <p class="mb-0 ms-3 opacity-50">{{ file.name || "File name" }}</p>
            <p class="mb-0 ms-3 opacity-50">
              {{ file.size / 1000 | number }} KB
            </p>
            <div class="d-flex align-items-center gap-3 ms-3">
              <div class="progress" style="min-width: 300px">
                <div
                  class="progress-bar bg-primary"
                  role="progressbar"
                  style="width: 100%"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <span>100%</span>
            </div>
          </div>
        </div>
        <a
          href="#"
          class="opacity-50 text-white"
          (click)="removeFile($event, i)"
          >Delete</a
        >
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-end gap-2 mb-5">
    <button class="btn btn-secondary">Cancel</button>
    <button
      class="btn btn-primary"
      [disabled]="!accountForm.valid"
      type="submit"
      style="width: 300px"
    >
      Update account information
    </button>
  </div>
</form>
