<div class="banner-section mt-3 mb-5">
  <img src="assets/images/4d16a3c59d52b6abe206364bbce8bdf5.png" alt="" />
  <h3 class="mb-0 text-center">ALL <span>CATEGORIES.</span></h3>
</div>
<div class="categories-section">
  <div class="content">
    <img src="assets/images/41947e7da868072d92bcc456279a43a8.jpeg" alt="" />
    <h3 class="mb-3">Soccer</h3>
  </div>
  <div class="content">
    <img src="assets/images/b4a5c964b1eea73d74f4fe1a666bda96.jpeg" alt="" />
    <h3 class="mb-3">Basketball</h3>
  </div>
  <div class="content">
    <img src="assets/images/3f73684074443552396c9c81327ac333.jpeg" alt="" />
    <h3 class="mb-3">Athletics</h3>
  </div>
</div>
