.banner-section {
  height: 16.5625rem;
  width: 100%;
  position: relative;
}

.banner-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #000 0%, #000 100%);
  opacity: 0.27;
}

.banner-section h3 {
  color: #fff;
  font-family: Staatliches;
  font-size: 4.5rem;
  line-height: 130%; /* 5.85rem */
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.banner-section h3 span {
  color: var(--success);
}

/****************** CATEGORIES SECTION *******************/
.categories-section {
  width: calc(100% - 15rem);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  min-height: 50vh;
}

.categories-section .content {
  width: 17.0625rem;
  height: 11.0625rem;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.categories-section .content:hover {
  transform: scale(1.1);
}

.categories-section .content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17.0625rem;
  height: 11.0625rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.3125rem;
}

.categories-section .content h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%; /* 3rem */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1;
}

.categories-section .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3125rem;
}

@media screen and (max-width: 768px) {
  .banner-section {
    height: 21rem !important;
  }

  .banner-section:nth-last-of-type(2) {
    height: 7.25rem;
  }

  .banner-section h3 {
    font-size: 2rem;
    letter-spacing: 0.03rem;
  }

  /****************** CATEGORIES SECTION *******************/
  .categories-section {
    width: calc(100% - 3rem);
    margin-inline: auto;
  }
}
