<div class="banner-section mt-3 mb-5">
  <img src="assets/images/4d16a3c59d52b6abe206364bbce8bdf5.png" alt="" />
  <h3 class="mb-0 text-center">ALL <span>CATEGORIES.</span></h3>
</div>

<div class="catergory-tabs">
  <a
    class="pointer"
    style="white-space: nowrap"
    [class.active]="studentsService.studentsQuery.category == cat"
    *ngFor="let cat of categories"
    (click)="filterByCategory(cat)"
    >{{ cat }}</a
  >
</div>

<div class="mx-3">
  <div
    class="d-flex align-items-center justify-content-between cat-detail-header mt-5"
  >
    <h5>Featured profiles</h5>
    <a
      class="text-decoration-none text-white"
      (click)="toggleSearchFilter($event)"
      style="cursor: pointer"
      >Search by
      <i class="bi bi-chevron-down ms-2"></i>
    </a>
  </div>
  <div
    class="d-flex align-items-center category-detail-section"
    [ngClass]="{
      'justify-content-center': !studentsService.students,
      'justify-content-between': studentsService.students
    }"
  >
    <player-card
      [margin_right]="'0px'"
      *ngFor="let player of studentsService.students; let i = index"
      [player]="player"
    ></player-card>
    <no-data
      [message]="'Nothing to see here'"
      *ngIf="!studentsService.students"
    ></no-data>
  </div>
  <pagination></pagination>
  <search-filter (search)="search($event)"></search-filter>
</div>
