<div
  class="d-flex align-items-center justify-content-between"
  id="notification-bell"
>
  <p class="mb-0 opacity-50">
    <img src="assets/images/bell.png" alt="notification" class="me-2" />
    Notifications
  </p>
  <a href="#" class="text-white text-decoration-none opacity-50"
    >Mark all as read</a
  >
</div>
<div class="search-input">
  <img
    src="assets/images/search.png"
    alt="search"
    width="25px"
    height="25px"
    class="me-2"
  />
  <input type="text" placeholder="Search" />
</div>
<div class="row g-0 gap-4">
  <div class="col-12 ms-4 notification">
    <p>Account created</p>
    <p class="mb-3 opacity-50 text">
      Thank you for signing up!
      <br /><br />
      We're thrilled to have you onboard and excited to see what the future
      holds for you.
      <br /><br />

      Your profile has been submitted and will be reviewed. well let you know as
      soon as the process is complete.
    </p>
    <small class="opacity-50 fw-bold">3 minutes ago</small>
  </div>
</div>
