<div
  class="d-flex align-items-center justify-content-between"
  id="notification-bell"
>
  <p class="mb-0 opacity-50">
    <img src="assets/images/bell.png" alt="notification" class="me-2" />
    Notifications
  </p>
  <a href="#" class="text-white text-decoration-none opacity-50"
    >Mark all as read</a
  >
</div>
<div class="search-input">
  <img
    src="assets/images/search.png"
    alt="search"
    width="25px"
    height="25px"
    class="me-2"
  />
  <input type="text" placeholder="Search" [(ngModel)]="search" />
</div>
<div class="row g-0 gap-4 notification-section">
  <div
    class="col-12 ms-4 hoverable"
    [ngClass]="{ notification: !notification.read_at }"
    *ngFor="
      let notification of notifications | search : search : ['message', 'title']
    "
  >
    <p>{{ notification.title }}</p>
    <p class="mb-3 opacity-50 text" [innerHTML]="notification.message"></p>
    <small class="opacity-50 fw-bold">
      {{ notification.created_at | dateAsAgo }}
    </small>
  </div>
</div>
